# dex currently not used
# https://argocd-operator.readthedocs.io/en/latest/usage/dex/
dex:
  enabled: false

configs:
  cm:
    admin.enabled: false

    ui.bannerpermanent: true
    ui.bannercontent: "PRODUCTION"
    ui.bannerurl: "https://wikibase.cloud/"

  styles: |
    .ui-banner {
        background-color:#d93f4a;

        a {
          color:white;
        }
    }
