imageTag: "6.8.23-wmde.6"

esJavaOpts: "-Xms4g -Xmx4g"

resources:
  requests:
    cpu: "500m"
    memory: "8Gi"
  limits:
    cpu: "3950m"
    memory: "8Gi"

volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: "premium-rwo"
  resources:
    requests:
      storage: 10Gi
