gceProject: wikibase-cloud
gceServiceAccountSecret: secret-wikibase-dev-api
gcsApiStaticBucket: wikibase-dev-static

certificates:
  -
    name: wikibase-cloud-tls
    commonName: wikibase.cloud
    dnsNames:
      - '*.wikibase.cloud'
      - 'wikibase.cloud'
    secretName: wikibase-cloud-tls
    issuerRef: letsencrypt-staging #letsencrypt-prod
  - 
    name: wikibase-dev-tls
    commonName: wikibase.dev
    dnsNames:
      - '*.wikibase.dev'
      - 'wikibase.dev'
    secretName: wikibase-dev-tls
    issuerRef: letsencrypt-prod

uiHostName: www.wikibase.dev
tlsSecret: wikibase-dev-tls

services:
  app:
    url: https://api.wikibase.dev
    key: u1r09r190u12r09r21j0r21ji0f90jr01
    jwtSecret: jg9jj98gg09as09sfa0fj0jg0avnmx
    mailer: mailgun
    ingressHosts:
      - host: api.wikibase.dev
        paths:
          - /()(.*)
      - host: www.wikibase.dev
        paths:
          - /api(/|$)(.*)
  sql:
    storageClass: faster
    storageSize: 60Gi
    api:
      db: apidb
      user: apiuser
  redis:
    password: nevergoingtoturnaround
    readHost: redis-headless.default.svc.cluster.local
    writeHost: redis-master.default.svc.cluster.local
    port: 6379
    databases:
      apiDb: 2
      apiCacheDb: 3
external:
  letsencrypt:
    email: thomas.arrow_ext@wikimedia.de
  mailgun:
    domain: wikibase.dev
    secret: 0262ae9a79e1fb2ce9502c60fd7428d2-2ac825a1-c8588225
  recaptcha2:
    sitekey: TODO
    secret: TODO
  recaptcha3:
    sitekey: 6Lc8IwEaAAAAAFkYDqWM1lDyDUf_FHsmcHNonaKa
    secret: 6Lc8IwEaAAAAAI4-IDRlOW2lUdpH25yX7jsJ2E-_
