es:
  uri: http://elasticsearch-2.default.svc.cluster.local:9200
  timeout: 90s

resources:
  requests:
    cpu: 250m
    memory: 4Gi
  limits:
    cpu: 1000m
    memory: 6Gi

serviceMonitor:
  scrapeTimeout: 50s
  interval: 60s
  enabled: true
  labels:
    release: kube-prometheus-stack
  metricRelabelings:
    - sourceLabels: [cluster]
      targetLabel: es_cluster
    - regex: ^cluster$
      action: labeldrop
