es:
  uri: http://elasticsearch-master.default.svc.cluster.local:9200
  timeout: 90s

serviceMonitor:
  enabled: true
  labels:
    release: kube-prometheus-stack
  metricRelabelings:
    - sourceLabels: [cluster]
      targetLabel: es_cluster
    - regex: ^cluster$
      action: labeldrop
