image:
  tag: "0.3.135-wbstack.6"
  repository: ghcr.io/wbstack/queryservice
  pullPolicy: Always

app:
  heapSize: 2g

resources:
  requests:
    cpu: 0.5
    memory: "3048Mi"
  limits:
    cpu: null
    memory: "4072Mi"

persistence:
  enabled: true
  annotations: {}
  accessMode: ReadWriteOnce
  storageClass: "premium-rwo"
  size: "40Gi"

allowList: |
  https://jdfjkashdjashdkja.wikibase.cloud/query/sparql
  https://tom-prod-test-a23sc.wikibase.cloud/query/sparql
  https://sdhasjdasj.wikibase.cloud/query/sparql
  https://toan-test-wiki-1.wikibase.cloud/query/sparql
  https://perotchelibou.wikibase.cloud/query/sparql
  https://wikicloudtest.duckdns.org/query/sparql
  https://wmde-jan-01-testwiki2.wikibase.cloud/query/sparql
  https://cloud-coffeebase.wikibase.cloud/query/sparql
  https://potato.wikibase.cloud/query/sparql
  https://maris-piper.wikibase.cloud/query/sparql
  https://testwikibase-jan.wikibase.cloud/query/sparql
  https://books-shelf.wikibase.cloud/query/sparql
  https://ngrlab.wikibase.cloud/query/sparql
  https://digcav.wikibase.cloud/query/sparql
  https://enlightenedmedialities.wikibase.cloud/query/sparql
  https://wikibase.inguma.eus/query/sparql
  https://data.lexbib.org/query/sparql
  https://datuak.ahotsak.eus/query/sparql
  https://lexbib.elex.is/query/sparql
  https://celltypes.wikibase.cloud/query/sparql
  https://furry.wikibase.cloud/query/sparql
  https://dagbani.wikibase.cloud/query/sparql
  https://biodiversity.wikibase.cloud/query/sparql
  https://fp2test01.wikibase.cloud/query/sparql
  https://biomarker.wikibase.cloud/query/sparql
  https://schema-korf.wikibase.cloud/query/sparql
  https://test-lm-uat.wikibase.cloud/query/sparql
  https://florencia.wikibase.cloud/query/sparql
  https://addshore-alpha.wikibase.cloud/query/sparql
  https://qichwa.wikibase.cloud/query/sparql
  https://addshore.wikibase.cloud/query/sparql
  https://intentionally-empty.wikibase.cloud/query/sparql
  https://bcul-ic.wikibase.cloud/query/sparql
  https://photo-data.wikibase.cloud/query/sparql
  https://photo-techniques.dvnr.ch/query/sparql
  https://languages.wikibase.cloud/query/sparql
  https://preprints.wikibase.cloud/query/sparql
  https://worlduniversityandschooldatabase.wikibase.cloud/query/sparql
  https://osloddt.wikibase.cloud/query/sparql
  https://resistance.wikibase.cloud/query/sparql
  https://testmat.wikibase.cloud/query/sparql
  https://chemcompounds.wikibase.cloud/query/sparql
  https://sparql-queries-20211030.wikibase.cloud/query/sparql
  https://willighagen-2021.wikibase.cloud/query/sparql
  https://dreams.wikibase.cloud/query/sparql
  https://afl-cidoc.wikibase.cloud/query/sparql
  https://afl-example.wikibase.cloud/query/sparql
  https://cidoc-crm-example.wikibase.cloud/query/sparql
  https://cidoc-crm.wikibase.cloud/query/sparql
  https://cursoslabra.wikibase.cloud/query/sparql
  https://dimisa.wikibase.cloud/query/sparql
  https://gndtest.wikibase.cloud/query/sparql
  https://hercules.wikibase.cloud/query/sparql
  https://testentityschemas.wikibase.cloud/query/sparql
  https://testes.wikibase.cloud/query/sparql
  https://ticha1920.wikibase.cloud/query/sparql
  https://websemanticmiw2020.wikibase.cloud/query/sparql
  https://wikishape.wikibase.cloud/query/sparql
  https://cat-collective2.wikibase.cloud/query/sparql
  https://atkins-names.wikibase.cloud/query/sparql
  https://atkins-scua-names.wikibase.cloud/query/sparql
  https://bl-sandbox.wikibase.cloud/query/sparql
  https://base.cocreate.koeln/query/sparql
  https://cocreate-cologne.wikibase.cloud/query/sparql
  https://digitalneurons.wikibase.cloud/query/sparql
  https://zerowastecities.wikibase.cloud/query/sparql
  https://arabib.wikibase.cloud/query/sparql
  https://bibliothecacoranica.wikibase.cloud/query/sparql
  https://bibsample.wikibase.cloud/query/sparql
  https://kbtestwikibase.wikibase.cloud/query/sparql
  https://faclab.wikibase.cloud/query/sparql
  https://federation.wikibase.cloud/query/sparql
  https://gilliane.wikibase.cloud/query/sparql
  https://maurizio.wikibase.cloud/query/sparql
  https://private.wikibase.cloud/query/sparql
  https://public.wikibase.cloud/query/sparql
  https://unnammedprojectdb.wikibase.cloud/query/sparql
  https://thingdatabase.wikibase.cloud/query/sparql
  https://beyond-notability.wikibase.cloud/query/sparql
  https://smartmeta.wikibase.cloud/query/sparql
  https://foodsystemslab.wikibase.cloud/query/sparql
  https://eoss-1.wikibase.cloud/query/sparql
  https://forest-decimal-classification.wikibase.cloud/query/sparql
  https://plants.wikibase.cloud/query/sparql
  https://testing.wikibase.cloud/query/sparql
  https://wikidp.wikibase.cloud/query/sparql
  https://wikifcd.wikibase.cloud/query/sparql
  https://wmnyc.wikibase.cloud/query/sparql
  https://rose-collection.wikibase.cloud/query/sparql
  https://recepten.wikibase.cloud/query/sparql
  https://womenwriters.wikibase.cloud/query/sparql
  https://paikkatietopalvelu.wikibase.cloud/query/sparql
  https://database.wikibase.cloud/query/sparql
  https://fair-ethics-test.wikibase.cloud/query/sparql
  https://monacan.wikibase.cloud/query/sparql
  https://scholia.wikibase.cloud/query/sparql
  https://wikispeleology.wikibase.cloud/query/sparql
  https://works.bibframe.wiki/query/sparql
  https://enrich-nfdi4culture.wikibase.cloud/query/sparql
  https://lod-working-group.wikibase.cloud/query/sparql
  https://latimer-core.wikibase.cloud/query/sparql
  https://meise-bg.wikibase.cloud/query/sparql
  https://solanum.wikibase.cloud/query/sparql
  https://tdwg-cd.wikibase.cloud/query/sparql
  https://trex-taxonomy.wikibase.cloud/query/sparql
  https://types.wikibase.cloud/query/sparql
  https://virus-taxonomy.wikibase.cloud/query/sparql
  https://masssly.wikibase.cloud/query/sparql
  https://bellmanfactbase.wikibase.cloud/query/sparql
  https://iot-device.wikibase.cloud/query/sparql
  https://sweopendata.wikibase.cloud/query/sparql
  https://paikka.wikibase.cloud/query/sparql
  https://posse.wikibase.cloud/query/sparql
  https://wikidocs.wikibase.cloud/query/sparql
  https://swedishmuseum.wikibase.cloud/query/sparql
  https://coffeebase.wikibase.cloud/query/sparql
  https://gif-test.wikibase.cloud/query/sparql
  https://wiki-journals.wikibase.cloud/query/sparql
  https://mcje-data.wikibase.cloud/query/sparql
  https://mywayordatwayy.wikibase.cloud/query/sparql
  https://devonshire.wikibase.cloud/query/sparql
  https://agents-of-enslavement.wikibase.cloud/query/sparql
  https://cul-dlc-test.wikibase.cloud/query/sparql
  https://ld4-2021-conference.wikibase.cloud/query/sparql
  https://ld4-wbs-test.wikibase.cloud/query/sparql
  https://mercury7.wikibase.cloud/query/sparql
  https://ld4demo.wikibase.cloud/query/sparql
  https://quxfarm.wikibase.cloud/query/sparql
  https://testdemo.wikibase.cloud/query/sparql
  https://clb-lod.wikibase.cloud/query/sparql
  https://delft-metadata-experiment.wikibase.cloud/query/sparql
  https://kc.accuratica.net/query/sparql
  https://ottgaz.org/query/sparql
  https://biblenamewiki.wikibase.cloud/query/sparql
  https://mormonbiography.org/query/sparql
  https://american-geophysical-union.wikibase.cloud/query/sparql
  https://dancing-digital.wikibase.cloud/query/sparql
  https://stolen-relations.wikibase.cloud/query/sparql
  https://yoreanaheim.wikibase.cloud/query/sparql
  https://itunderpress.wikibase.cloud/query/sparql
  https://lcpindex.wikibase.cloud/query/sparql
  https://pbsandbox.wikibase.cloud/query/sparql
  https://manuscripts.wikibase.cloud/query/sparql
  https://linked-lions.wikibase.cloud/query/sparql
  https://ascltestwikibase.wikibase.cloud/query/sparql
  https://avery-index-to-architectural-periodicals.wikibase.cloud/query/sparql
  https://ckg-exploratory-search.wikibase.cloud/query/sparql
  https://ubcfumetti.wikibase.cloud/query/sparql
  https://north-carolina-gazetteer.wikibase.cloud/query/sparql
  https://mood-chat.wikibase.cloud/query/sparql
  https://daieuxetdailleurs.wikibase.cloud/query/sparql
  https://graffiti.wikibase.cloud/query/sparql
  https://denkyemx.wikibase.cloud/query/sparql
  https://nttdata.wikibase.cloud/query/sparql
  https://immaterieel-erfgoed.wikibase.cloud/query/sparql
  https://iast-metadata-test.wikibase.cloud/query/sparql
  https://npl-aib.wikibase.cloud/query/sparql
  https://gotland.wikibase.cloud/query/sparql
  https://glacierwatch.wikibase.cloud/query/sparql
  https://valeries-galleries.wikibase.cloud/query/sparql
  https://berlinked.wikibase.cloud/query/sparql
  https://stream.bootsa.net/query/sparql
  https://bcuf-test.wikibase.cloud/query/sparql
  https://living-science.wikibase.cloud/query/sparql
  https://anthrograph.io/query/sparql
  https://metabase.wikibase.cloud/query/sparql
  https://textdiveglobal.wikibase.cloud/query/sparql
  https://pokedata.wikibase.cloud/query/sparql
  https://fmtest.wikibase.cloud/query/sparql
  https://fmtest2.wikibase.cloud/query/sparql
  https://anachroniques.wikibase.cloud/query/sparql
  https://widaba.wikibase.cloud/query/sparql
  https://cooperatives.wikibase.cloud/query/sparql
  https://nordhausen.wikibase.cloud/query/sparql
  https://bibliography-lv.wikibase.cloud/query/sparql
  https://riga-literata.wikibase.cloud/query/sparql
  https://glambase.wikibase.cloud/query/sparql
  https://datenbank.nordhausen.org/query/sparql
  https://mcarchives.wikibase.cloud/query/sparql
  https://fomudemo.wikibase.cloud/query/sparql
  https://pbsandbox2.wikibase.cloud/query/sparql
  https://alicetest.wikibase.cloud/query/sparql
  https://oswald.wikibase.cloud/query/sparql
  https://prosop-wiki.wikibase.cloud/query/sparql
  https://diglearning.wikibase.cloud/query/sparql
  https://wikibae.de/query/sparql
  https://ridges-herb-9.wikibase.cloud/query/sparql
  https://eusterm.wikibase.cloud/query/sparql
  https://melanges-test.wikibase.cloud/query/sparql
  https://berkeleylaw.wikibase.cloud/query/sparql
  https://pigeons.wikibase.cloud/query/sparql
  https://compoundcloud.wikibase.cloud/query/sparql
  https://fedidata.wikibase.cloud/query/sparql
  https://frederikwiki.wikibase.cloud/query/sparql
  https://ridges-herb.wikibase.cloud/query/sparql
  https://privacygraph.wikibase.cloud/query/sparql
  https://wei-cheng.wikibase.cloud/query/sparql
  https://wikibasetest.wikibase.cloud/query/sparql
  https://conscremona.wikibase.cloud/query/sparql
  https://demo-conscremona.wikibase.cloud/query/sparql
  https://rfc-editor.wikibase.cloud/query/sparql
  https://habitsofmind.wikibase.cloud/query/sparql
  https://maths-22.wikibase.cloud/query/sparql
  https://ecology-22.wikibase.cloud/query/sparql
  https://snarc-llgc.wikibase.cloud/query/sparql
  https://quotebase.wikibase.cloud/query/sparql
  https://data.r74n.com/query/sparql
  https://hunt-museum.wikibase.cloud/query/sparql
  https://elections.wikibase.cloud/query/sparql
  https://ublmutest.wikibase.cloud/query/sparql
  https://oorlogsbronnen.wikibase.cloud/query/sparql
  https://ottgaz-test.wikibase.cloud/query/sparql
  https://wikiwarp.wikibase.cloud/query/sparql
  https://ublmu.wikibase.cloud/query/sparql
  https://kb-rda-testwikibase.wikibase.cloud/query/sparql
  https://stanford.wikibase.cloud/query/sparql
  https://tandori.wikibase.cloud/query/sparql
  https://knls-open.wikibase.cloud/query/sparql
  https://tw-made-an-instance-of.wikibase.cloud/query/sparql
  https://test-lcc.wikibase.cloud/query/sparql
  https://maptest.wikibase.cloud/query/sparql
  https://catalog-dev.digital-scriptorium.org/query/sparql
  https://agausgabemedien.wikibase.cloud/query/sparql
  https://test-data.wikibase.cloud/query/sparql
  https://catalog.digital-scriptorium.org/query/sparql
  https://sandrabecker01.wikibase.cloud/query/sparql
  https://scanning.wikibase.cloud/query/sparql
  https://kurdi.wikibase.cloud/query/sparql
  https://topo-pcrs-geostandard.wikibase.cloud/query/sparql
  https://initial-tests-confirm-success.wikibase.cloud/query/sparql
  https://nochallengingcharactersatall.wikibase.cloud/query/sparql
  https://mycommunityarchives.wikibase.cloud/query/sparql
  https://naf-test.wikibase.cloud/query/sparql
  https://andrew.wikibase.cloud/query/sparql
  https://evelien-test.wikibase.cloud/query/sparql
  https://other.wikibase.cloud/query/sparql
  https://exmusica.wikibase.cloud/query/sparql
  https://pbuidev.wikibase.cloud/query/sparql
  https://christoslearnswbcloud.wikibase.cloud/query/sparql
  https://tarrow-test-53.wikibase.cloud/query/sparql
  https://openculturethl.wikibase.cloud/query/sparql
  https://enote-playground.wikibase.cloud/query/sparql
  https://osobnosti.wikibase.cloud/query/sparql
  https://wbwh-test.wikibase.cloud/query/sparql
  https://ds20230203.wikibase.cloud/query/sparql
  https://cnb-works.wikibase.cloud/query/sparql
  https://burocracia.wikibase.cloud/query/sparql
  https://ld4goats.wikibase.cloud/query/sparql
  https://cps2-masters.wikibase.cloud/query/sparql
  https://ir-authorities.wikibase.cloud/query/sparql
  https://jsamwrites.wikibase.cloud/query/sparql
  https://vtul-metadataservices.wikibase.cloud/query/sparql
  https://imkg2023.wikibase.cloud/query/sparql
  https://researchwb.wikibase.cloud/query/sparql
  https://indxr.wikibase.cloud/query/sparql
  https://internationaler-sozialistischer-kampfbund.wikibase.cloud/query/sparql
  https://internationaler-sozialistischer-kampfbund-test.wikibase.cloud/query/sparql
  https://geokb.wikibase.cloud/query/sparql
  https://alpes-transport-sandbox.wikibase.cloud/query/sparql
  https://podcasts.wikibase.cloud/query/sparql
  https://cine1803-23.wikibase.cloud/query/sparql
  https://dbgi-sandbox.wikibase.cloud/query/sparql
  https://archaeo3d.wikibase.cloud/query/sparql
  https://lgbtdb.wikibase.cloud/query/sparql
  https://importer.wikibase.cloud/query/sparql
  https://gridobjekt.wikibase.cloud/query/sparql
  https://eew-edgi.wikibase.cloud/query/sparql
  https://openpharmacopoeia.wikibase.cloud/query/sparql
  https://itg-test.wikibase.cloud/query/sparql
  https://va-test.wikibase.cloud/query/sparql
  https://paleogridd.wikibase.cloud/query/sparql
  https://abbreviations.wikibase.cloud/query/sparql
  https://magnus.wikibase.cloud/query/sparql
  https://horimiya.wikibase.cloud/query/sparql
  https://sciencefictionhistory.wikibase.cloud/query/sparql
  https://danish-elite-network.wikibase.cloud/query/sparql
  https://aberdeen-arrivals.wikibase.cloud/query/sparql
  https://nigeria-ethnic-groups.wikibase.cloud/query/sparql
  https://mw138test.wikibase.cloud/query/sparql
  https://bodhitestwiki.wikibase.cloud/query/sparql
  https://codethecity.wikibase.cloud/query/sparql
  https://plant-collective.wikibase.cloud/query/sparql
  https://gridobjecttwo.wikibase.cloud/query/sparql
  https://testmundus.wikibase.cloud/query/sparql
  https://d063520.wikibase.cloud/query/sparql
  https://wiki.hestia.ai/query/sparql
  https://wiki.data.foundation/query/sparql
  https://hestiaai-test.wikibase.cloud/query/sparql
  https://wikibase.juncture-digital.org/query/sparql
  https://ld4-wbwh-sandbox.wikibase.cloud/query/sparql
  https://glossbib.wikibase.cloud/query/sparql
  https://kg-ipclimatec-reports.wikibase.cloud/query/sparql
  https://wikibasesuitetest.wikibase.cloud/query/sparql
  https://domains.wikibase.cloud/query/sparql
  https://nounsdev.wikibase.cloud/query/sparql
  https://sweeties.wikibase.cloud/query/sparql
  https://giorgiodemaria.wikibase.cloud/query/sparql
  https://tre-test.wikibase.cloud/query/sparql
  https://weaver.wikibase.cloud/query/sparql
  https://saco-projects.wikibase.cloud/query/sparql
  https://hackathon-test-instance.wikibase.cloud/query/sparql
  https://ogham.wikibase.cloud/query/sparql
  https://n4o-ta2.wikibase.cloud/query/sparql
  https://abcdnk.wikibase.cloud/query/sparql
  https://fermentingdata.wikibase.cloud/query/sparql
  https://karlmarx28.wikibase.cloud/query/sparql
  https://wikibase.world/query/sparql
  https://indischerfgoed.wikibase.cloud/query/sparql
  https://mi2mama.wikibase.cloud/query/sparql
  https://mining-texts.wikibase.cloud/query/sparql
  https://mabinogi.wikibase.cloud/query/sparql
  https://mandb-playground.wikibase.cloud/query/sparql
  https://test-obelis.wikibase.cloud/query/sparql
  https://busroutes.wikibase.cloud/query/sparql
  https://openpostcards.wikibase.cloud/query/sparql
  https://oswald.fandom.com/query/sparql
  https://refwiki.wikibase.cloud/query/sparql
  https://openacolit.wikibase.cloud/query/sparql
  https://digikim-test.wikibase.cloud/query/sparql
  https://testwiki.wikibase.cloud/query/sparql
  https://gilaprebor.wikibase.cloud/query/sparql
  https://chinese-culture-and-heritage.wikibase.cloud/query/sparql
  https://xxxxxxxxxxxxxxxxxx.wikibase.cloud/query/sparql
  https://aaaabqahjdk.wikibase.cloud/query/sparql
  https://zine-catalog.wikibase.cloud/query/sparql
  https://aikibooks.wikibase.cloud/query/sparql
  https://delight.wikibase.cloud/query/sparql
  https://nosakhare-okuons.wikibase.cloud/query/sparql
  https://wikisciw.wikibase.cloud/query/sparql
  https://wikibase.aws.ldas.jp/query/sparql
  https://nakamura196.wikibase.cloud/query/sparql
  https://wesley-collections.wikibase.cloud/query/sparql
  https://riwatchmuseum.wikibase.cloud/query/sparql
  https://interactivemodule.wikibase.cloud/query/sparql
  https://bdwiki.wikibase.cloud/query/sparql
  https://pr0be.wikibase.cloud/query/sparql
  https://esanlearn.wikibase.cloud/query/sparql
  https://ramatu.wikibase.cloud/query/sparql
  https://aatchrimifrenchacademy.wikibase.cloud/query/sparql
  https://culturecollection.wikibase.cloud/query/sparql
  https://judobooks.wikibase.cloud/query/sparql
  https://corpeus.wikibase.cloud/query/sparql
  https://kpop-wikibase-beta.wikibase.cloud/query/sparql
  https://monumenta.wikibase.cloud/query/sparql
  https://test-geovistory.wikibase.cloud/query/sparql
  https://trial-1.wikibase.cloud/query/sparql
  https://fuzzy-sl.wikibase.cloud/query/sparql
  https://hkbulib.wikibase.cloud/query/sparql
  https://test3.wikibase.cloud/query/sparql
  https://whakapapa.wikibase.cloud/query/sparql
  https://vamos.bootsa.net/query/sparql
  https://hkbu-library-art-collections.wikibase.cloud/query/sparql
  https://mycommunity.wikibase.cloud/query/sparql
  https://stadnamn.wikibase.cloud/query/sparql
  https://mininghistory.wikibase.cloud/query/sparql
  https://vicobncf.wikibase.cloud/query/sparql
  https://nullmuseum.wikibase.cloud/query/sparql
  https://lac-test.wikibase.cloud/query/sparql
  https://catalog.grafton9.net/query/sparql
  https://christian-nationalists.wikibase.cloud/query/sparql
  https://christian-nationalists.org/query/sparql
  https://sohippix.wikibase.cloud/query/sparql
  https://msrtest.wikibase.cloud/query/sparql
  https://am-test.wikibase.cloud/query/sparql
  https://naija-library.wikibase.cloud/query/sparql
  https://azaikilibrary.wikibase.cloud/query/sparql
  https://mypersonallibray.wikibase.cloud/query/sparql
  https://rejoicelibrary.wikibase.cloud/query/sparql
  https://franca.wikibase.cloud/query/sparql
  https://elixir.wikibase.cloud/query/sparql
  https://benacollections.wikibase.cloud/query/sparql
  https://nigerlibrary.wikibase.cloud/query/sparql
  https://nigerdeltalibrary.wikibase.cloud/query/sparql
  https://elixirslibrary.wikibase.cloud/query/sparql
  https://beauty-lib.wikibase.cloud/query/sparql
  https://fpe-wiki.com/query/sparql
  https://myepie.wikibase.cloud/query/sparql
  https://flexablemedia.wikibase.cloud/query/sparql
  https://dumo-collection.wikibase.cloud/query/sparql
  https://poinami-library.wikibase.cloud/query/sparql
  https://waltspersonal.wikibase.cloud/query/sparql
  https://ayaslibrary.wikibase.cloud/query/sparql
  https://godfavourite.wikibase.cloud/query/sparql
  https://tintosafrik4me.wikibase.cloud/query/sparql
  https://edith.wikibase.cloud/query/sparql
  https://peaceapparelcollection.wikibase.cloud/query/sparql
  https://inerelibrary.wikibase.cloud/query/sparql
  https://timilibrary.wikibase.cloud/query/sparql
  https://vickylibrary.wikibase.cloud/query/sparql
  https://lucaslibrary.wikibase.cloud/query/sparql
  https://janetlibrary.wikibase.cloud/query/sparql
  https://rowenalibrary.wikibase.cloud/query/sparql
  https://nelson.wikibase.cloud/query/sparql
  https://ayomidelibs.wikibase.cloud/query/sparql
  https://dimeliibrary.wikibase.cloud/query/sparql
  https://lizzyjoe.wikibase.cloud/query/sparql
  https://flexable.wikibase.cloud/query/sparql
  https://bumiegha.wikibase.cloud/query/sparql
  https://enslaved-arlington.wikibase.cloud/query/sparql
  https://vwslwiki.wikibase.cloud/query/sparql
  https://biodiversitylibrary.wikibase.cloud/query/sparql
  https://test1.wikibase.cloud/query/sparql
  https://test2.wikibase.cloud/query/sparql
  https://librarycollection.wikibase.cloud/query/sparql
  https://niedersaechsischepostkarten.wikibase.cloud/query/sparql
  https://gj-23things-data-place.wikibase.cloud/query/sparql
  https://provenancelab.wikibase.cloud/query/sparql
  https://autoriteter.wikibase.cloud/query/sparql
  https://n4o-mkg.wikibase.cloud/query/sparql
  https://vcttttt.wikibase.cloud/query/sparql
  https://dhamber.wikibase.cloud/query/sparql
  https://historyoftheweb.wikibase.cloud/query/sparql
  https://utdh-sandbox.wikibase.cloud/query/sparql
  https://digital-boxiana.wikibase.cloud/query/sparql
  https://bookseries.wikibase.cloud/query/sparql
  https://digitalsynagoguemodels.wikibase.cloud/query/sparql
  https://dejonge.wikibase.cloud/query/sparql
  https://opendatakerala.wikibase.cloud/query/sparql
  https://openmindat.wikibase.cloud/query/sparql
  https://testy2231.wikibase.cloud/query/sparql
  https://fftght.wikibase.cloud/query/sparql
  https://jssikssksk.wikibase.cloud/query/sparql
  https://socioinsight.wikibase.cloud/query/sparql
  https://bike-place.wikibase.cloud/query/sparql
  https://kbr-luuse.wikibase.cloud/query/sparql
  https://hawkins.wikibase.cloud/query/sparql
  https://termini.wikibase.cloud/query/sparql
  https://zugang-gestalten.wikibase.cloud/query/sparql
  https://greek-coinage-of-asia-minor.wikibase.cloud/query/sparql
  https://testwiki35.wikibase.cloud/query/sparql
  https://recipes.wikibase.cloud/query/sparql
  https://www.data4viz.com/query/sparql
  https://grappliana.wikibase.cloud/query/sparql
  https://mmabase.wikibase.cloud/query/sparql
  https://registerc.wikibase.cloud/query/sparql
  https://football-data.wikibase.cloud/query/sparql
  https://policy-sources.wikibase.cloud/query/sparql
  https://wikidatausecase.wikibase.cloud/query/sparql
  https://almedatestwikibase.wikibase.cloud/query/sparql
  https://plant.wikibase.cloud/query/sparql
  https://gwmab-edu.wikibase.cloud/query/sparql
  https://moonsightingcommitteeworldwide.wikibase.cloud/query/sparql
  https://worldliterature.wikibase.cloud/query/sparql
  https://archwiki.wikibase.cloud/query/sparql
  https://sicoplan.wikibase.cloud/query/sparql
  https://foofoofoofoofoofoo.wikibase.cloud/query/sparql
  https://memoryworkla.wikibase.cloud/query/sparql
  https://zamn-data.wikibase.cloud/query/sparql
  https://black-life-writing-bib.wikibase.cloud/query/sparql
  https://alexsio274limited.wikibase.cloud/query/sparql
  https://queercore.wikibase.cloud/query/sparql
  https://beach-collection.wikibase.cloud/query/sparql
  https://tabularium.wikibase.cloud/query/sparql
  https://demo-fosc-letters.wikibase.cloud/query/sparql
  https://unimarc2bibframe.wikibase.cloud/query/sparql
  https://haaitsma-genea.wikibase.cloud/query/sparql
  https://joy-bangla.wikibase.cloud/query/sparql
  https://proust-portal.wikibase.cloud/query/sparql
  https://claad.wikibase.cloud/query/sparql
  https://verano.wikibase.cloud/query/sparql
  https://testwikibase.wikibase.cloud/query/sparql
  https://rbx-metadata.wikibase.cloud/query/sparql
  https://testingtesting.wikibase.cloud/query/sparql
  https://telugumovies.wikibase.cloud/query/sparql
  https://playback-theatre.wikibase.cloud/query/sparql
  https://wd-23-24.wikibase.cloud/query/sparql
  https://meteorology.wikibase.cloud/query/sparql
  https://astrology.wikibase.cloud/query/sparql
  https://denniszhao.wikibase.cloud/query/sparql
  https://wikidata.infernity.dev/query/sparql
  https://wiki-demo.wikibase.cloud/query/sparql
  https://govdirectory-foi.wikibase.cloud/query/sparql
  https://bw-history.wikibase.cloud/query/sparql
  https://semanticclimate.wikibase.cloud/query/sparql
  https://datalking.wikibase.cloud/query/sparql
  https://catalogusprofessorumuu.wikibase.cloud/query/sparql
  https://bikedb.wikibase.cloud/query/sparql
  https://wikibase.canary.littleoni.net/query/sparql
  https://sverige.wikibase.cloud/query/sparql
  https://metadata-test2023-rbx.wikibase.cloud/query/sparql
  https://test-mackenzie-dev.wikibase.cloud/query/sparql
  https://pikachupedia.wikibase.cloud/query/sparql
  https://pika2pedia.wikibase.cloud/query/sparql
  https://yuchenglin.wikibase.cloud/query/sparql
  https://n4o-prov.wikibase.cloud/query/sparql
  https://mathmoddb.wikibase.cloud/query/sparql
  https://inklupedia.wikibase.cloud/query/sparql
  https://cgtads.wikibase.cloud/query/sparql
  https://wisecubepilot.wikibase.cloud/query/sparql
  https://dorismccarthy.wikibase.cloud/query/sparql
  https://collectingwomencourse.wikibase.cloud/query/sparql
  https://snuffstore.wikibase.cloud/query/sparql
  https://pencils-and-paint.wikibase.cloud/query/sparql
  https://karas-test.wikibase.cloud/query/sparql
  https://d-p-l-a.wikibase.cloud/query/sparql
  https://lambase.wikibase.cloud/query/sparql
  https://ludovico.wikibase.cloud/query/sparql
  https://chawiki.wikibase.cloud/query/sparql
  https://vet2vet.wikibase.cloud/query/sparql
  https://matrika.wikibase.cloud/query/sparql
  https://acronym.wikibase.cloud/query/sparql
  https://gardict.wikibase.cloud/query/sparql
  https://gettingstarted-test.wikibase.cloud/query/sparql
  https://peeragogy.wikibase.cloud/query/sparql
  https://philosophicalworld.wikibase.cloud/query/sparql
  https://music.wikibase.cloud/query/sparql
  https://goodly.wikibase.cloud/query/sparql
  https://hyperstage.wikibase.cloud/query/sparql
  https://lifenet.wikibase.cloud/query/sparql
  https://peoples-riisearch-archive.wikibase.cloud/query/sparql
  https://registry-sandbox.washnote.org/query/sparql
  https://flmr-db.wikibase.cloud/query/sparql
  https://chinesestudies.wikibase.cloud/query/sparql
  https://ransom-center.wikibase.cloud/query/sparql
  https://wikipaedia.wikibase.cloud/query/sparql
  https://pembertoncorrespondence.wikibase.cloud/query/sparql
  https://test-beaubien.wikibase.cloud/query/sparql
  https://eric-wiki.wikibase.cloud/query/sparql
  https://mybestlife.wikibase.cloud/query/sparql
  https://bl-archives-manuscripts.wikibase.cloud/query/sparql
  https://abcxyz.wikibase.cloud/query/sparql
  https://ohos-community.wikibase.cloud/query/sparql
  https://xhgell9mb1qlv2h9gwps.wikibase.cloud/query/sparql
  https://tekimakademi.wikibase.cloud/query/sparql
  https://theses.wikibase.cloud/query/sparql
  https://quechua.wikibase.cloud/query/sparql
  https://mma-fighters.wikibase.cloud/query/sparql
  https://aic-collective.wikibase.cloud/query/sparql
  https://semanticid.aas-connect.com/query/sparql
  https://rugovdomains.wikibase.cloud/query/sparql
  https://mndb.lophocmatngu.wiki/query/sparql
  https://media.wikibase.cloud/query/sparql
  https://writingspaces.wikibase.cloud/query/sparql
  https://wikibase.locavorefoods.info/query/sparql
  https://my-wiki-bible.wikibase.cloud/query/sparql
  https://wiki.waffles.fans/query/sparql
  https://colorama.wikibase.cloud/query/sparql
  https://testdokument.wikibase.cloud/query/sparql
  https://samsonadedoyinlibrary.wikibase.cloud/query/sparql
  https://stellar-phantastic.wikibase.cloud/query/sparql
  https://wikimediabelgium.wikibase.cloud/query/sparql
  https://customerinteractionmanagement.wikibase.cloud/query/sparql
  https://customerinteractionmanagement1.wikibase.cloud/query/sparql
  https://berkeleylawir.wikibase.cloud/query/sparql
  https://adams-family.wikibase.cloud/query/sparql
  https://localfoods.wikibase.cloud/query/sparql
  https://cougarcat.wikibase.cloud/query/sparql
  https://lotico.wikibase.cloud/query/sparql
  https://lerner-michard.wikibase.cloud/query/sparql
  https://gagedata.wikibase.cloud/query/sparql
  https://www.newguineaproject.com/query/sparql
  https://cultural-industry-policy.wikibase.cloud/query/sparql
  https://test123.wikibase.cloud/query/sparql
  https://uncw-english.wikibase.cloud/query/sparql
  https://losnoco.wikibase.cloud/query/sparql
  https://framenet-akkadian.wikibase.cloud/query/sparql
  https://mywikibase.wikibase.cloud/query/sparql
  https://tropicalplantscollection.wikibase.cloud/query/sparql
  https://euporia.wikibase.cloud/query/sparql
  https://initiatives.wikibase.cloud/query/sparql
  https://reparaturnetzwerk.wikibase.cloud/query/sparql
  https://unidive-t2-2.wikibase.cloud/query/sparql
  https://ppfdahlem.wikibase.cloud/query/sparql
  https://provenance.wikibase.cloud/query/sparql
  https://judaicaamericana.wikibase.cloud/query/sparql
  https://judaicadh.wikibase.cloud/query/sparql
  https://understanding-byzantine.wikibase.cloud/query/sparql
  https://kamerunem.wikibase.cloud/query/sparql
  https://resounding-libraries.wikibase.cloud/query/sparql
  https://ontolagoon.wikibase.cloud/query/sparql
  https://open-english-wordnet.wikibase.cloud/query/sparql
  https://amphibian.wikibase.cloud/query/sparql
  https://vintergatan.wikibase.cloud/query/sparql
  https://bcdirectories.wikibase.cloud/query/sparql
  https://543245535543fhgdfgh.wikibase.cloud/query/sparql
  https://andreascy.wikibase.cloud/query/sparql
  https://andreaschristodoulou.wikibase.cloud/query/sparql
  https://antreaschristodoulou.wikibase.cloud/query/sparql
  https://andreas-christodoulou.wikibase.cloud/query/sparql
  https://antreas-christodoulou.wikibase.cloud/query/sparql
  https://schema.hybr.co.uk/query/sparql
  https://verteiler.wikibase.cloud/query/sparql
  https://tangital-developement-sites.wikibase.cloud/query/sparql
  https://howardjp-test.wikibase.cloud/query/sparql
  https://libmovit.wikibase.cloud/query/sparql
  https://test-kb.wikibase.cloud/query/sparql
  https://memorybankdata.wikibase.cloud/query/sparql
  https://small-non-coding-rnas.wikibase.cloud/query/sparql
  https://unidivewg2.wikibase.cloud/query/sparql
  https://data.fellly.com/query/sparql
  https://judaica.wikibase.cloud/query/sparql
  https://digital-art-database.wikibase.cloud/query/sparql
  https://ubna-test.wikibase.cloud/query/sparql
  https://thing.wikibase.cloud/query/sparql
  https://bradford-collections.wikibase.cloud/query/sparql
  https://test9876.wikibase.cloud/query/sparql
  https://astro-kg.wikibase.cloud/query/sparql
  https://s4adgmfowmsbe0ye0zjaudmxwb.wikibase.cloud/query/sparql
  https://ts-songs.wikibase.cloud/query/sparql
  https://golmohamadi.wikibase.cloud/query/sparql
  https://serbian.wikibase.cloud/query/sparql
  https://guttmann-story.wikibase.cloud/query/sparql
  https://test-database.wikibase.cloud/query/sparql
  https://ugly-architecture-test.wikibase.cloud/query/sparql
  https://wissensaggregator.wikibase.cloud/query/sparql
  https://countryballwikies.wikibase.cloud/query/sparql
  https://wiki1.wikibase.cloud/query/sparql
  https://ethoslab.wikibase.cloud/query/sparql
  https://uglyarchitecture.wikibase.cloud/query/sparql
  https://epicwiki.wikibase.cloud/query/sparql
  https://hiktest.bootsa.net/query/sparql
  https://saxfdm-expert.wikibase.cloud/query/sparql
  https://brain3.wikibase.cloud/query/sparql
  https://qfeverbase.wikibase.cloud/query/sparql
  https://essencialistas.wikibase.cloud/query/sparql
  https://rcnum.wikibase.cloud/query/sparql
  https://tipitakahall.wikibase.cloud/query/sparql
  https://e-lit.wikibase.cloud/query/sparql
  https://testtesttest.wikibase.cloud/query/sparql
  https://elte-dh.wikibase.cloud/query/sparql
  https://afamfilm.wikibase.cloud/query/sparql
  https://uapeople.wikibase.cloud/query/sparql
  https://abcdnkhr.wikibase.cloud/query/sparql
  https://abcdnkhr-dev.wikibase.cloud/query/sparql
  https://abcdnk-test.wikibase.cloud/query/sparql
  https://testtesttest12345.wikibase.cloud/query/sparql
  https://wikibase.arl.jp/query/sparql
  https://playground.wikibase.cloud/query/sparql
  https://theswissthing.wikibase.cloud/query/sparql
  https://myownprivategoatcollective.wikibase.cloud/query/sparql
  https://mapmyths.wikibase.cloud/query/sparql
  https://orbis-dioecesium.wikibase.cloud/query/sparql
  https://350817.wikibase.cloud/query/sparql
  https://energy-wiki.ch/query/sparql
  https://avoinglam.wikibase.cloud/query/sparql
  https://dupin.wikibase.cloud/query/sparql
  https://e-qvadrat.wikibase.cloud/query/sparql
  https://nemesiemigracioemlekezet.wikibase.cloud/query/sparql
  https://nobleemigration.wikibase.cloud/query/sparql
  https://artas.wikibase.cloud/query/sparql
  https://testingwiki.wikibase.cloud/query/sparql
  https://opencorp.wikibase.cloud/query/sparql
  https://liblab.wikibase.cloud/query/sparql
  https://uzh-test.wikibase.cloud/query/sparql
  https://chironomidae.wikibase.cloud/query/sparql
  https://sonime.wikibase.cloud/query/sparql
  https://timna-database.wikibase.cloud/query/sparql
  https://rectangles.wikibase.cloud/query/sparql
  https://rematriation.wikibase.cloud/query/sparql
  https://goat-collective.wikibase.cloud/query/sparql
  https://goat-collective1.wikibase.cloud/query/sparql
  https://voltaireiconography.wikibase.cloud/query/sparql
  https://terradev.wikibase.cloud/query/sparql
  https://example.wikibase.cloud/query/sparql
  https://lexicobase.wikibase.cloud/query/sparql
  https://uvicvocab.wikibase.cloud/query/sparql
  https://prueba1.wikibase.cloud/query/sparql
  https://npmdb.wikibase.cloud/query/sparql
  https://ponybase.wikibase.cloud/query/sparql
  https://teste-cam.wikibase.cloud/query/sparql
  https://bekasi.wikibase.cloud/query/sparql
  https://wikipedia-universidade.wikibase.cloud/query/sparql
  https://biblebackgrounds.wikibase.cloud/query/sparql
  https://popequer-wikibase-sandbox-01.wikibase.cloud/query/sparql
  https://examplewikiuo283069.wikibase.cloud/query/sparql
  https://merops.wikibase.cloud/query/sparql
  https://test-scientists.wikibase.cloud/query/sparql
  https://rema-la-test.wikibase.cloud/query/sparql
  https://cdl-test-wikibase.wikibase.cloud/query/sparql
  https://bujtest.wikibase.cloud/query/sparql
  https://label.wikibase.cloud/query/sparql
  https://walnut-banjo.wikibase.cloud/query/sparql
  https://librarianbe.wikibase.cloud/query/sparql
  https://coins.wikibase.cloud/query/sparql
  https://testwikitestwikitestwiki.wikibase.cloud/query/sparql
  https://intestwetrust.wikibase.cloud/query/sparql
  https://courli.wikibase.cloud/query/sparql
  https://shira.wikibase.cloud/query/sparql
  https://vit20.wikibase.cloud/query/sparql
  https://testowapatryka.wikibase.cloud/query/sparql
  https://ggoat.wikibase.cloud/query/sparql
  https://efgdd.wikibase.cloud/query/sparql
  https://fontes-asturienses.wikibase.cloud/query/sparql
  https://master-debater.wikibase.cloud/query/sparql
  https://pywikibot.wikibase.cloud/query/sparql
  https://ppsdb.wikibase.cloud/query/sparql
  https://eneoli.wikibase.cloud/query/sparql
  https://leads.wikibase.cloud/query/sparql
  https://coslib-knust.wikibase.cloud/query/sparql
  https://brandskon.wikibase.cloud/query/sparql
  https://brukerforum.wikibase.cloud/query/sparql
  https://yd.chatan.cc/query/sparql
  https://animpossiblemap.wikibase.cloud/query/sparql
  https://topheroes.wikibase.cloud/query/sparql
  https://validatortest.wikibase.cloud/query/sparql
  https://bolag.wikibase.cloud/query/sparql
  https://testowa1.wikibase.cloud/query/sparql
  https://darkling-shadows.wikibase.cloud/query/sparql
  https://bin-yayla.wikibase.cloud/query/sparql
  https://hkbu-mcat.wikibase.cloud/query/sparql
  https://vendredidesfemmes.wikibase.cloud/query/sparql
  https://framenet-akkadian2.wikibase.cloud/query/sparql
  https://idunno.wikibase.cloud/query/sparql
  https://charlie-experiments.wikibase.cloud/query/sparql
  https://libscino.wikibase.cloud/query/sparql
  https://fimiwiki.wikibase.cloud/query/sparql
  https://bw-disinfo.wikibase.cloud/query/sparql
  https://framenet-akkadian257.wikibase.cloud/query/sparql
  https://research-waste.wikibase.cloud/query/sparql
  https://numisgnosis.wikibase.cloud/query/sparql
  https://tdkiv.wikibase.cloud/query/sparql
  https://architekturarchive.wikibase.cloud/query/sparql
  https://wookieepedia.wikibase.cloud/query/sparql
  https://hypotheseis.wikibase.cloud/query/sparql
  https://bgsand.wikibase.cloud/query/sparql
  https://mliscoursecatalogs.wikibase.cloud/query/sparql
  https://friki-fimi-dev.wikibase.cloud/query/sparql
  https://lisdata.wikibase.cloud/query/sparql
  https://android.freaky.wiki/query/sparql
  https://e-quadrat.wikibase.cloud/query/sparql
  https://sfema.wikibase.cloud/query/sparql
  https://sources.wikibase.cloud/query/sparql
  https://base.sesys.org/query/sparql
  https://test-wikibase.wikibase.cloud/query/sparql
  https://nkcr-sandbox.wikibase.cloud/query/sparql
  https://discoverytest.wikibase.cloud/query/sparql
  https://climatepolicyradar.wikibase.cloud/query/sparql
  https://testymctestface.wikibase.cloud/query/sparql
  https://fresh-chat.wikibase.cloud/query/sparql
  https://sourcesync.wikibase.cloud/query/sparql
  https://chilean-music.wikibase.cloud/query/sparql
  https://akkadianproject2.wikibase.cloud/query/sparql
  https://discoverytest1.wikibase.cloud/query/sparql
  https://computational-publishing-service.wikibase.cloud/query/sparql
  https://vaarwegennet.wikibase.cloud/query/sparql
  https://eviterbotest.wikibase.cloud/query/sparql
  https://arnold.wiki/query/sparql
  https://mike-dbtest.wikibase.cloud/query/sparql
  https://memory-prime.wikibase.cloud/query/sparql
  https://schwann.wikibase.cloud/query/sparql
  https://humaines.wikibase.cloud/query/sparql
  https://voc-collections.wikibase.cloud/query/sparql
  https://wikibase.nekky-chan.de/query/sparql
  https://ndspersonen.wikibase.cloud/query/sparql
  https://framenetest4.wikibase.cloud/query/sparql
  https://tcdict.wikibase.cloud/query/sparql
  https://tunismed.wikibase.cloud/query/sparql
  https://betools.wikibase.cloud/query/sparql
  https://my-data.wikibase.cloud/query/sparql
  https://trolololololo.wikibase.cloud/query/sparql
  https://fictionbase.wikibase.cloud/query/sparql
  https://nis-test.wikibase.cloud/query/sparql
  https://hagiology.wikibase.cloud/query/sparql
  https://packages.wikibase.cloud/query/sparql
  https://labcollective.wikibase.cloud/query/sparql
  https://testdatabase.wikibase.cloud/query/sparql
  https://test-for-linked-data-things.wikibase.cloud/query/sparql
  https://n4o-ta4-dev.wikibase.cloud/query/sparql
  https://kluck.wikibase.cloud/query/sparql
  https://petsihaveowned.wikibase.cloud/query/sparql
  https://km28-2.wikibase.cloud/query/sparql
  https://tmp-18769876427210.wikibase.cloud/query/sparql
  https://compel.wikibase.cloud/query/sparql
  https://onlinedigitalacademy.wikibase.cloud/query/sparql
  https://n4o-conservation-prototype.wikibase.cloud/query/sparql
  https://libtool.wikibase.cloud/query/sparql
  https://joshhabka.wikibase.cloud/query/sparql
  https://compliance-toolkit.wikibase.cloud/query/sparql
  https://archiveofmodernconflict.wikibase.cloud/query/sparql
  https://galal.wikibase.cloud/query/sparql
  https://dblitteraja.wikibase.cloud/query/sparql
  https://fediverse.wikibase.cloud/query/sparql
  https://chong.wikibase.cloud/query/sparql
  https://eezhishi.wikibase.cloud/query/sparql
  https://netart.wikibase.cloud/query/sparql
  https://greek-metrical-inscriptions.wikibase.cloud/query/sparql
  https://3dwaam.wikibase.cloud/query/sparql
  https://farafina-fanga.wikibase.cloud/query/sparql
  https://simonnuenen.wikibase.cloud/query/sparql
  https://wikidating.wikibase.cloud/query/sparql
  https://simworkflow.wikibase.cloud/query/sparql
  https://ohsuga-wikipage.wikibase.cloud/query/sparql
  https://mythogram.wikibase.cloud/query/sparql
  https://firsttest-ds.wikibase.cloud/query/sparql
  https://brikerbasen.wikibase.cloud/query/sparql
  https://hist-arch-reg.wikibase.cloud/query/sparql
  https://test-hackathon-2024.wikibase.cloud/query/sparql
  https://farafi-denwu.wikibase.cloud/query/sparql
  https://multistoreytimberbuildings.wikibase.cloud/query/sparql
  https://terezka.wikibase.cloud/query/sparql
  https://insularmss.wikibase.cloud/query/sparql
  https://bebok.wikibase.cloud/query/sparql
  https://uo271588wikibase.wikibase.cloud/query/sparql
  https://frbrtest.wikibase.cloud/query/sparql
  https://pruebamiw24.wikibase.cloud/query/sparql
  https://web-semantica-miw.wikibase.cloud/query/sparql
  https://poslobase.wikibase.cloud/query/sparql
  https://web-semantica-uo276406.wikibase.cloud/query/sparql
  https://testmiwoviedo.wikibase.cloud/query/sparql
  https://uo269509.wikibase.cloud/query/sparql
  https://miwinves2324.wikibase.cloud/query/sparql
  https://miwinvessofia2324.wikibase.cloud/query/sparql
  https://trailrunning.wikibase.cloud/query/sparql
  https://vlaamstheaterinstituut.wikibase.cloud/query/sparql
  https://miwprofe.wikibase.cloud/query/sparql
  https://websemantica.wikibase.cloud/query/sparql
  https://miwuo277534.wikibase.cloud/query/sparql
  https://miw-prueba.wikibase.cloud/query/sparql
  https://uo237512.wikibase.cloud/query/sparql
  https://miwwebsemantica.wikibase.cloud/query/sparql
  https://portobarroco.wikibase.cloud/query/sparql
  https://framenet-akkadian267.wikibase.cloud/query/sparql
  https://dikusa-dev.wikibase.cloud/query/sparql
  https://mcdonald.wikibase.cloud/query/sparql
  https://qwe-test.wikibase.cloud/query/sparql
  https://uwlib-cams-sandbox.wikibase.cloud/query/sparql
  https://ezralim.wikibase.cloud/query/sparql
  https://mountain.wikibase.cloud/query/sparql
  https://waka-dev.wikibase.cloud/query/sparql
  https://letterbox.wikibase.cloud/query/sparql
  https://beyondcertified.info/query/sparql
  https://tredemulor.wikibase.cloud/query/sparql
  https://mlmodel.wikibase.cloud/query/sparql
  https://jewishhistory.wikibase.cloud/query/sparql
  https://patrimurcia.wikibase.cloud/query/sparql
  https://coat-gollective.wikibase.cloud/query/sparql
  https://websem-uo264862.wikibase.cloud/query/sparql
  https://scilinkdb.wikibase.cloud/query/sparql
  https://holocron.wikibase.cloud/query/sparql
  https://geckoxchange.wikibase.cloud/query/sparql
  https://medienrestaurierung.wikibase.cloud/query/sparql
  https://sw-data.wikibase.cloud/query/sparql
  https://theriseof.wikibase.cloud/query/sparql
  https://datalib.wikibase.cloud/query/sparql
  https://openmusic.wikibase.cloud/query/sparql
  https://slang.wikibase.cloud/query/sparql
  https://pt.t4t.pet/query/sparql
  https://cubing.wikibase.cloud/query/sparql
  https://testvti.wikibase.cloud/query/sparql
  https://pepepiton.wikibase.cloud/query/sparql
  https://meetalham.wikibase.cloud/query/sparql
  https://fepoulpa.wikibase.cloud/query/sparql
  https://cartoliste.wikibase.cloud/query/sparql
  https://username1password.wikibase.cloud/query/sparql
  https://languagedigitalvitality.wikibase.cloud/query/sparql
  https://leeds-authorities.wikibase.cloud/query/sparql
  https://genewiki.wikibase.cloud/query/sparql
  https://u1p-qs.wikibase.cloud/query/sparql
  https://sjgcoh-library.wikibase.cloud/query/sparql
  https://coslib-readingroom-knust.wikibase.cloud/query/sparql
  https://naska2-library.wikibase.cloud/query/sparql
  https://chapman-library.wikibase.cloud/query/sparql
  https://csir-forig.wikibase.cloud/query/sparql
  https://tace-library.wikibase.cloud/query/sparql
  https://face-library.wikibase.cloud/query/sparql
  https://csir-foriglibrary.wikibase.cloud/query/sparql
  https://mymymymyvazgen.wikibase.cloud/query/sparql
  https://mranma-ocatrelya.wikibase.cloud/query/sparql
  https://test-wiki.wikibase.cloud/query/sparql
  https://joomla.wikibase.cloud/query/sparql
  https://lacoudee.wikibase.cloud/query/sparql
  https://ev5test.wikibase.cloud/query/sparql
  https://kranditri-01.wikibase.cloud/query/sparql
  https://normact-regeducation.wikibase.cloud/query/sparql
  https://testsite.wikibase.cloud/query/sparql
  https://test789987.wikibase.cloud/query/sparql
  https://binbirdone.wikibase.cloud/query/sparql
  https://dis18project.wikibase.cloud/query/sparql
  https://civil-war-order-of-battle-online.wikibase.cloud/query/sparql
  https://matlin.wikibase.cloud/query/sparql
  https://severyn-family.wikibase.cloud/query/sparql
  https://wikibase-test.wikibase.cloud/query/sparql
  https://basquebib.wikibase.cloud/query/sparql
  https://yinfei-wiki.wikibase.cloud/query/sparql
  https://test-outlaw.wikibase.cloud/query/sparql
  https://archives-zonnebeke.wikibase.cloud/query/sparql
  https://locations.wikibase.cloud/query/sparql
  https://test1a.wikibase.cloud/query/sparql
  https://congration.wikibase.cloud/query/sparql
  https://transcriptional-start-sites.wikibase.cloud/query/sparql
  https://dhtest.wikibase.cloud/query/sparql
  https://booksrdatabases.wikibase.cloud/query/sparql
  https://vihreat-ohjelmat.wikibase.cloud/query/sparql
  https://yusmatvei25.wikibase.cloud/query/sparql
  https://another-example.wikibase.cloud/query/sparql
  https://copypastewasteprototype.wikibase.cloud/query/sparql
  https://undusting.wikibase.cloud/query/sparql
  https://hsndb.wikibase.cloud/query/sparql
  https://hydrogen.wikibase.cloud/query/sparql
  https://diversemix.wikibase.cloud/query/sparql
  https://qvtorwonwup.wikibase.cloud/query/sparql
  https://testingcuratingdata.wikibase.cloud/query/sparql
  https://anton5.wikibase.cloud/query/sparql
  https://mad-landscape-collective.wikibase.cloud/query/sparql
  https://unimath.wikibase.cloud/query/sparql
  https://qvtorwonwup00.wikibase.cloud/query/sparql
  https://cabinetmapping.wikibase.cloud/query/sparql
  https://pruebas-fsh.wikibase.cloud/query/sparql
  https://preteritpresence.wikibase.cloud/query/sparql
  https://opencommons.com/query/sparql
  https://data.dezopedia.cz/query/sparql
  https://zkratky.wikibase.cloud/query/sparql
  https://knihovnici.wikibase.cloud/query/sparql
  https://curatingdata.wikibase.cloud/query/sparql
  https://agua-archiv.wikibase.cloud/query/sparql
  https://wiki.ozrens.com/query/sparql
  https://discovery-tales.wikibase.cloud/query/sparql
  https://ame-scm.wikibase.cloud/query/sparql
  https://pimnevter-demo.wikibase.cloud/query/sparql
  https://websem.wikibase.cloud/query/sparql
  https://conservationscience.wikibase.cloud/query/sparql
  https://wiki.epsilonprison.net/query/sparql
  https://unidive.wikibase.cloud/query/sparql
  https://arkalab.wikibase.cloud/query/sparql
  https://wiki.academe.ac.nz/query/sparql
  https://cosonote.wikibase.cloud/query/sparql
  https://codecs.wikibase.cloud/query/sparql
  https://aj-mtg-collection.wikibase.cloud/query/sparql
  https://flp-experiments.wikibase.cloud/query/sparql
  https://yaleclubnyc.wikibase.k2.services/query/sparql
  https://bradford-collections-test.wikibase.cloud/query/sparql
  https://educ-aid.wikibase.cloud/query/sparql
  https://oskliarch.wikibase.cloud/query/sparql
  https://mehi-bridge.wikibase.cloud/query/sparql
  https://testing123.wikibase.cloud/query/sparql
  https://kotliarov-tolsty.wikibase.cloud/query/sparql
  https://top9xy.wikibase.cloud/query/sparql
  https://scholar.wikibase.cloud/query/sparql
  https://wiki.autodevops.in/query/sparql
  https://ntglam.wikibase.cloud/query/sparql
  https://bioimages.wikibase.cloud/query/sparql
  https://ecomedia.wikibase.cloud/query/sparql
  https://test0-collection.wikibase.cloud/query/sparql
  https://chile-open-data.wikibase.cloud/query/sparql
  https://coso-agents.wikibase.cloud/query/sparql
  https://filmusp.wikibase.cloud/query/sparql
  https://datagapfinder.wikibase.cloud/query/sparql
  https://mcdata.wikibase.cloud/query/sparql
  https://split-archaeology.wikibase.cloud/query/sparql
  https://wikibase.epfo.eu/query/sparql
  https://leguin.wikibase.cloud/query/sparql
  https://disaster-base.wikibase.cloud/query/sparql
  https://tolkiendata.org/query/sparql
  https://ui-investigadores-nova-fcsh.wikibase.cloud/query/sparql
  https://shaheed.wikibase.cloud/query/sparql
  https://jewishselfdefense.wikibase.cloud/query/sparql
  https://fashion.wikibase.cloud/query/sparql
  https://ir-abbreviations.wikibase.cloud/query/sparql
  https://daaag.wikibase.cloud/query/sparql
  https://data.yahia.xyz/query/sparql
  https://restaurierungsthesaurus.wikibase.cloud/query/sparql
  https://testwiki2.wikibase.cloud/query/sparql
  https://digital-3d-knowledge-hub.wikibase.cloud/query/sparql
  https://datos-algort.wikibase.cloud/query/sparql
  https://dangerousharbors.wikibase.cloud/query/sparql
  https://congruence-engine.wikibase.cloud/query/sparql
  https://leosini.wikibase.cloud/query/sparql
  https://climate-ai-assistant.wikibase.cloud/query/sparql
  https://generalassemblies.wikibase.cloud/query/sparql
  https://addshore-wikibase-cloud-status.wikibase.cloud/query/sparql
  https://tecne-now.wikibase.cloud/query/sparql
  https://restorationtoolkit2.wikibase.cloud/query/sparql
  https://fresh.wikibase.cloud/query/sparql
  https://metcat-il.wikibase.cloud/query/sparql
  https://iliesi.wikibase.cloud/query/sparql
  https://cla-g.wikibase.cloud/query/sparql
  https://addshore-qs-testing-0001.wikibase.cloud/query/sparql
  https://thesentinel.wikibase.cloud/query/sparql
  https://anton7.wikibase.cloud/query/sparql
  https://mapping-dh.wikibase.cloud/query/sparql
  https://wayofassam.wikibase.cloud/query/sparql
  https://grep-world.wikibase.cloud/query/sparql
  https://verynewgoodest.wikibase.cloud/query/sparql
  https://coolzone.wikibase.cloud/query/sparql
  https://gl-cdc-commons.wikibase.cloud/query/sparql
  https://curationist.wikibase.cloud/query/sparql
  https://dariagavrilova.wikibase.cloud/query/sparql
  https://sara-sandbox.wikibase.cloud/query/sparql
  https://tickets-categorization.wikibase.cloud/query/sparql
  https://practicum.wikibase.cloud/query/sparql
  https://wikinealogy.wikibase.cloud/query/sparql
  https://personalwiki.wikibase.cloud/query/sparql
  https://gavdosminerals.wikibase.cloud/query/sparql
  https://kunststedenenplattelandskastelen.wikibase.cloud/query/sparql
  https://chinesepedia.wikibase.cloud/query/sparql
  https://anton9.wikibase.cloud/query/sparql
  https://hiperterminal.wikibase.cloud/query/sparql
  https://talmudic-trial.wikibase.cloud/query/sparql
  https://itkophyo.wikibase.cloud/query/sparql
  https://najeragrafitos.wikibase.cloud/query/sparql
  https://t.sd6.ru/query/sparql
  https://talmudic-collections-test.wikibase.cloud/query/sparql
  https://try-collection.wikibase.cloud/query/sparql
  https://ahmed-assessment.wikibase.cloud/query/sparql
  https://abc123.wikibase.cloud/query/sparql
  https://mdwiki.wikibase.cloud/query/sparql
  https://verb-conjugation-data.wikibase.cloud/query/sparql
  https://dataeng.wikibase.cloud/query/sparql
  https://operarioribeiro.wikibase.cloud/query/sparql
  https://hishamrngineer.wikibase.cloud/query/sparql
  https://project.wikibase.cloud/query/sparql
  https://dataproject.wikibase.cloud/query/sparql
  https://mosel.wikibase.cloud/query/sparql
  https://sparql-annotations.wikibase.cloud/query/sparql
  https://okrzeja.wikibase.cloud/query/sparql
  https://awesome.wikibase.cloud/query/sparql
  https://assignment-collection.wikibase.cloud/query/sparql
  https://kopal8.wikibase.cloud/query/sparql
  https://arkeoweb.wikibase.cloud/query/sparql
  https://lwhos2ociu-somegovdata.wikibase.cloud/query/sparql
  https://bib18.wikibase.cloud/query/sparql
  https://wikibase-instance.wikibase.cloud/query/sparql
  https://dados.processualista.com.br/query/sparql
  https://sangam.wikibase.cloud/query/sparql
  https://archivocdf.wikibase.cloud/query/sparql
  https://indicwiki.wikibase.cloud/query/sparql
  https://telugu.wikibase.cloud/query/sparql
  https://xn--knstlnetz1600-salzburg-slc.wikibase.cloud/query/sparql
  https://filmwissen.wikibase.cloud/query/sparql
  https://recordsincontexts.wikibase.cloud/query/sparql
  https://digitalisierungsforschung.wikibase.cloud/query/sparql
  https://zif-sandbox.wikibase.cloud/query/sparql
  https://fcsklzhvtbennqubrwyj.wikibase.cloud/query/sparql
  https://textileshows-il.wikibase.cloud/query/sparql
  https://christof-schoech.wikibase.cloud/query/sparql
  https://zh.quickpedia.wiki.changeip.org/query/sparql
  https://ninetu.wikibase.cloud/query/sparql
  https://pokemon-wmde.wikibase.cloud/query/sparql
  https://privacy.wikibase.cloud/query/sparql
  https://framenet-akkadian298.wikibase.cloud/query/sparql
  https://testwikiatesttesttesttesteee.wikibase.cloud/query/sparql
  https://magpie.wikibase.cloud/query/sparql
  https://lanyrd.wikibase.cloud/query/sparql
  https://lostdiscs.wikibase.cloud/query/sparql
  https://jews-of-gostenhof-wiki.wikibase.cloud/query/sparql
  https://wikifashion.wikibase.cloud/query/sparql
  https://laticce.wikibase.cloud/query/sparql
  https://epictestwiki.wikibase.cloud/query/sparql
  https://sambruk.wikibase.cloud/query/sparql
  https://eltecgeo.wikibase.cloud/query/sparql
  https://tp3-sttcl.wikibase.cloud/query/sparql
  https://salartis1600.wikibase.cloud/query/sparql
  https://ideally-news.wikibase.cloud/query/sparql
  https://ideelt.wikibase.cloud/query/sparql
  https://citf-trial.wikibase.cloud/query/sparql
  https://wikiprompts.wikibase.cloud/query/sparql
  https://query.wikidata.org/bigdata/namespace/categories/sparql
  https://query.wikidata.org/bigdata/namespace/dcatap/sparql
  https://query.wikidata.org/bigdata/namespace/wdq/sparql
  https://query.wikidata.org/sparql
  http://sparql.europeana.eu/
  http://nomisma.org/query
  http://data.cervantesvirtual.com/openrdf-sesame/repositories/data
  http://datos.bne.es/sparql
  http://edan.si.edu/saam/sparql
  http://data.bnf.fr/sparql
  http://dbpedia.org/sparql
  http://rdf.insee.fr/sparql
  https://sparql.wikipathways.org/sparql
  http://dati.camera.it/sparql
  http://dati.emilia-romagna.it/sparql
  http://data.ordnancesurvey.co.uk/datasets/os-linked-data/apis/sparql
  http://statistics.data.gov.uk/sparql
  http://opendatacommunities.org/sparql
  http://data.plan4all.eu/sparql
  http://vocab.getty.edu/sparql.json
  http://linkeddata.uriburner.com/sparql
  http://mw2sparql.toolforge.org/sparql
  http://linkedgeodata.org/sparql
  http://sparql.hegroup.org/sparql/
  http://lov.okfn.org/dataset/lov/sparql
  http://opencitations.net/sparql
  http://dati.beniculturali.it/sparql
  http://zbw.eu/beta/sparql/stw/query
  http://zbw.eu/beta/sparql/gnd/query
  http://zbw.eu/beta/sparql/econ_pers/query
  http://zbw.eu/beta/sparql/econ_corp/query
  http://id.nlm.nih.gov/mesh/sparql
  http://collection.britishmuseum.org/sparql
  http://lod.opentransportdata.swiss/query
  http://data.bibliotheken.nl/sparql
  https://bag.basisregistraties.overheid.nl/sparql
  https://brt.basisregistraties.overheid.nl/sparql
  http://collection.britishart.yale.edu/openrdf-sesame/repositories/ycba
  http://bnb.data.bl.uk/sparql
  https://dati.quirinale.it/sparql
  http://sparql.uniprot.org/sparql
  https://sparql.uniprot.org/sparql
  https://ld.stadt-zuerich.ch/query
  http://data.nobelprize.org/sparql
  http://zbw.eu/beta/sparql/pm20/query
  http://libris.kb.se/sparql
  https://api.parliament.uk/sparql
  https://data.istex.fr/sparql/
  https://data.epo.org/linked-data/query
  https://data.niod.nl/PoolParty/sparql/WO2_Thesaurus
  https://www.ebi.ac.uk/rdf/services/sparql
  https://integbio.jp/rdf/ddbj/sparql
  https://integbio.jp/rdf/kero/sparql
  https://integbio.jp/rdf/sparql
  https://data.idref.fr/sparql
  https://sophox.org/sparql
  http://sciencesource-query.wmflabs.org/proxy/wdqs/bigdata/namespace/wdq/sparql
  https://agrovoc.uniroma2.it/sparql
  https://api.druid.datalegend.net/datasets/nlgis/gemeentegeschiedenis/services/gemeentegeschiedenis/sparql
  https://data.niod.nl/PoolParty/sparql/WO2_biografieen
  http://data.muziekschatten.nl/sparql
  https://jpsearch.go.jp/rdf/sparql/
  https://slod.fiz-karlsruhe.de/sparql
  http://dbpedia.org/sparql*
  https://wdhqs.wmflabs.org/sparql
  http://dati.isprambiente.it/sparql
  https://linkeddata.cultureelerfgoed.nl/sparql
  https://tora.entryscape.net/store/sparql
  http://de.dbpedia.org/sparql*
  https://api.data.pldn.nl/datasets/cbs/wijken-buurten/services/wijken-buurten/sparql
  https://idsm.elixir-czech.cz/sparql/endpoint/wikidata
  https://lingualibre.org/sparql
  http://publications.europa.eu/webapi/rdf/sparql
  https://linked.ec-dataplatform.eu/sparql
  https://test-linked.ec-dataplatform.eu/sparql
  https://sweopendata.wikibase.cloud/query/sparql
  https://query.linkedopendata.eu/sparql
  https://data.europa.eu/sparql
  https://opendata.aragon.es/sparql
  https://vocabularies.unesco.org/sparql
  https://digitale.bncf.firenze.sbn.it/openrdf-workbench/repositories/NS/query
  https://lila-erc.eu/sparql/lila_knowledge_base/sparql
  https://qlever.cs.uni-freiburg.de/api/imdb
  https://qlever.cs.uni-freiburg.de/api/dblp
  https://qlever.cs.uni-freiburg.de/api/wikidata
  https://qlever.cs.uni-freiburg.de/api/wikimedia-commons
  https://data.nlg.gr/sparql
  https://nfdi4culture.de/sparql
  https://query.mimotext.uni-trier.de/proxy/wdqs/bigdata/namespace/wdq/sparql
  https://iconclass.org/sparql
  https://orkg.org/triplestore

allowListStatic: |
  https://query.wikidata.org/bigdata/namespace/categories/sparql
  https://query.wikidata.org/bigdata/namespace/dcatap/sparql
  https://query.wikidata.org/bigdata/namespace/wdq/sparql
  https://query.wikidata.org/sparql
  http://sparql.europeana.eu/
  http://nomisma.org/query
  http://data.cervantesvirtual.com/openrdf-sesame/repositories/data
  http://datos.bne.es/sparql
  http://edan.si.edu/saam/sparql
  http://data.bnf.fr/sparql
  http://dbpedia.org/sparql
  http://rdf.insee.fr/sparql
  https://sparql.wikipathways.org/sparql
  http://dati.camera.it/sparql
  http://dati.emilia-romagna.it/sparql
  http://data.ordnancesurvey.co.uk/datasets/os-linked-data/apis/sparql
  http://statistics.data.gov.uk/sparql
  http://opendatacommunities.org/sparql
  http://data.plan4all.eu/sparql
  http://vocab.getty.edu/sparql.json
  http://linkeddata.uriburner.com/sparql
  http://mw2sparql.toolforge.org/sparql
  http://linkedgeodata.org/sparql
  http://sparql.hegroup.org/sparql/
  http://lov.okfn.org/dataset/lov/sparql
  http://opencitations.net/sparql
  http://dati.beniculturali.it/sparql
  http://zbw.eu/beta/sparql/stw/query
  http://zbw.eu/beta/sparql/gnd/query
  http://zbw.eu/beta/sparql/econ_pers/query
  http://zbw.eu/beta/sparql/econ_corp/query
  http://id.nlm.nih.gov/mesh/sparql
  http://collection.britishmuseum.org/sparql
  http://lod.opentransportdata.swiss/query
  http://data.bibliotheken.nl/sparql
  https://bag.basisregistraties.overheid.nl/sparql
  https://brt.basisregistraties.overheid.nl/sparql
  http://collection.britishart.yale.edu/openrdf-sesame/repositories/ycba
  http://bnb.data.bl.uk/sparql
  https://dati.quirinale.it/sparql
  http://sparql.uniprot.org/sparql
  https://sparql.uniprot.org/sparql
  https://ld.stadt-zuerich.ch/query
  http://data.nobelprize.org/sparql
  http://zbw.eu/beta/sparql/pm20/query
  http://libris.kb.se/sparql
  https://api.parliament.uk/sparql
  https://data.istex.fr/sparql/
  https://data.epo.org/linked-data/query
  https://data.niod.nl/PoolParty/sparql/WO2_Thesaurus
  https://www.ebi.ac.uk/rdf/services/sparql
  https://integbio.jp/rdf/ddbj/sparql
  https://integbio.jp/rdf/kero/sparql
  https://integbio.jp/rdf/sparql
  https://data.idref.fr/sparql
  https://sophox.org/sparql
  http://sciencesource-query.wmflabs.org/proxy/wdqs/bigdata/namespace/wdq/sparql
  https://agrovoc.uniroma2.it/sparql
  https://api.druid.datalegend.net/datasets/nlgis/gemeentegeschiedenis/services/gemeentegeschiedenis/sparql
  https://data.niod.nl/PoolParty/sparql/WO2_biografieen
  http://data.muziekschatten.nl/sparql
  https://jpsearch.go.jp/rdf/sparql/
  https://slod.fiz-karlsruhe.de/sparql
  http://dbpedia.org/sparql*
  https://wdhqs.wmflabs.org/sparql
  http://dati.isprambiente.it/sparql
  https://linkeddata.cultureelerfgoed.nl/sparql
  https://tora.entryscape.net/store/sparql
  http://de.dbpedia.org/sparql*
  https://api.data.pldn.nl/datasets/cbs/wijken-buurten/services/wijken-buurten/sparql
  https://idsm.elixir-czech.cz/sparql/endpoint/wikidata
  https://lingualibre.org/sparql
  http://publications.europa.eu/webapi/rdf/sparql
  https://linked.ec-dataplatform.eu/sparql
  https://test-linked.ec-dataplatform.eu/sparql
  https://sweopendata.wikibase.cloud/query/sparql
  https://query.linkedopendata.eu/sparql
  https://data.europa.eu/sparql
  https://opendata.aragon.es/sparql
  https://vocabularies.unesco.org/sparql
  https://digitale.bncf.firenze.sbn.it/openrdf-workbench/repositories/NS/query
  https://lila-erc.eu/sparql/lila_knowledge_base/sparql
  https://qlever.cs.uni-freiburg.de/api/imdb
  https://qlever.cs.uni-freiburg.de/api/dblp
  https://qlever.cs.uni-freiburg.de/api/wikidata
  https://qlever.cs.uni-freiburg.de/api/wikimedia-commons
  https://data.nlg.gr/sparql
  https://nfdi4culture.de/sparql
  https://query.mimotext.uni-trier.de/proxy/wdqs/bigdata/namespace/wdq/sparql
  https://iconclass.org/sparql
  https://orkg.org/triplestore
