image:
  repository: ghcr.io/wbstack/queryservice
  tag: "0.3.6_0.6"
  pullPolicy: Always
app:
  heapSize: 1g
resources:
  requests:
    cpu: 0.5
    memory: "2048Mi"
  limits:
    cpu: 1
    memory: "3072Mi"
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  storageClass: "premium-rwo"
  size: "12Gi"
  annotations: {}
