# Default values for tool-querybuilder.

replicaCount: 1

image:
  tag: "2024-12-03-110242"

platform:
  mediawikiBackendHost: someHost

app:
  subclassPropertyMap: '{"default":"P279","P171":"P171","P131":"P131"}'
  siConversionProperty: 'P2370'

resources:
  limits:
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi
