image:
  tag: "sha-702b390"

resources:
  requests:
    cpu: 1m
    memory: 6Mi
  limits:
    cpu: 10m
    memory: 20Mi

ingress:
  tls:
  - hosts:
    - {{ .Values.uiHostName }}
    secretName: {{ .Values.tlsSecret }}

ui:
  recaptchaSitekeySecretName: {{ .Values.external.recaptcha3.secretName }}
  recaptchaSitekeySecretKey: site_key