image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.3.0
  pullPolicy: Always

job:
  cronSchedule: "0 0 * * *"

scratchDiskSpace: 64Gi

storage:
  bucketName: wikibase-cloud-sql-backup
  uploadToBucket: true

db:
  load:
    verbosity: 1
  dump:
    verbosity: 1

restorePodRunning: true
