image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.3.1
  pullPolicy: Always

job:
  cronSchedule: "0 20 * * *"

scratchDiskSpace: 256Gi

storage:
  bucketName: wikibase-cloud-sql-backup
  serviceAccountSecretName: api-serviceaccount
  uploadToBucket: true

db:
  load:
    verbosity: 1
  dump:
    verbosity: 1

restorePodRunning: false
