image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.2.0
  pullPolicy: Always

job:
  cronSchedule: "0 0 * * *"

storage:
  scratchDiskSpace: 64Gi
  gcs:
    bucketName: wikibase-cloud-sql-backup
    serviceAccountSecretName: api-serviceaccount
    uploadToBucket: true

db:
  load:
    verbosity: 1
  dump:
    verbosity: 1

restorePodRunning: true
