apiVersion: batch/v1
kind: Job
metadata:
  generateName: change-replication-password-on-secondary-
  namespace: adhoc-jobs
spec:
  template:
    ttlSecondsAfterFinished: 604800
    spec:
      containers:
        - name: change-replication-password-on-secondary
          image: docker.io/bitnami/mariadb:10.5.15-debian-10-r52
          env:
            - name: MYSQL_PWD
              valueFrom:
                secretKeyRef:
                  name: sql-secrets-passwords
                  key: mariadb-root-password
            - name: REPLICATION
              valueFrom:
                secretKeyRef:
                  name: sql-secrets-passwords
                  key: mariadb-replication-password
            - name: MYSQL_HOST
              value: sql-mariadb-secondary-0.sql-mariadb-secondary.default.svc.cluster.local
          command:
            - 'bash'
            - '-c'
            - |+
              mysql -u root << EOF
                STOP SLAVE;
                CHANGE MASTER TO MASTER_PASSWORD='${REPLICATION}';
                START SLAVE;
              EOF

      restartPolicy: Never
