apiVersion: batch/v1
kind: Job
metadata:
  generateName: mediawiki-update-
  namespace: adhoc-jobs
spec:
  ttlSecondsAfterFinished: 86400
  backoffLimit: 0
  template:
    metadata:
      name: mediawiki-update
    spec:
      containers:
        - name: mediawiki-update
          command:
            - bash
            - -c
            - |
                set -euo pipefail

                log_info() {
                  printf 'INFO: %s\n' "$*"
                }

                log_error() {
                  printf 'ERROR: %s\n' "$*" >&2
                }

                log_info "Setting ${WBS_DOMAIN} to readOnly"
                curl --fail --location --silent --request PUT \
                "http://${PLATFORM_API_BACKEND_HOST}/backend/setWikiReadOnly?domain=${WBS_DOMAIN}&readOnly=1"

                export MW_INSTALL_PATH=/var/www/html/w/

                log_info "Running MediaWiki update.php for ${WBS_DOMAIN}"
                # temporarily don't exit on error so we can act on the status
                set +e
                php /var/www/html/w/maintenance/run.php update --quick
                status=$?
                set -e
                if [ "$status" -eq 0 ]; then
                  log_info "update.php completed successfully for ${WBS_DOMAIN}"
                  log_info "'run.php update --quick' exited with code 0"
                  log_info "Mediawiki update succeeded on ${WBS_DOMAIN}"
                  curl --fail --location --silent --request PUT \
                    "http://${PLATFORM_API_BACKEND_HOST}/backend/setWikiDbVersion?domain=${WBS_DOMAIN}&dbVersion=${MW_VERSION}"
                  log_info "database version updated to ${MW_VERSION}"
                  curl --fail --location --silent --request PUT \
                  log_info "Pause for 2 minutes before disabling readOnly mood"
                  sleep 120
                    "http://${PLATFORM_API_BACKEND_HOST}/backend/setWikiReadOnly?domain=${WBS_DOMAIN}&readOnly=0"
                  log_info "readOnly mode will be disabled for ${WBS_DOMAIN}"
                else
                  log_error "update.php failed to run and exit with code $status"
                  log_error "update.php failed to run and exit with code $status"
                  exit 1
                fi
      restartPolicy: Never
