apiVersion: batch/v1
kind: Job
metadata:
  generateName: run-all-mw-jobs-
  namespace: adhoc-jobs
spec:
  template:
    metadata:
      name: run-all-mw-jobs
    spec:
      containers:
        - name: run-all-mw-jobs
          command:
            - 'bash'
            - '-c'
            - |
                JOBS_TO_GO=1
                while [ "$JOBS_TO_GO" != "0" ]
                do
                    echo "Running 1000 jobs"
                    php w/maintenance/runJobs.php --maxjobs 1000
                    echo Waiting for 1 seconds...
                    sleep 1
                    JOBS_TO_GO=$(php w/maintenance/showJobs.php | tr -d '[:space:]')
                    echo $JOBS_TO_GO jobs to go
                done
      restartPolicy: Never
