image: "wikibase/elasticsearch"
imageTag: "6.5.4-wmde.4"
imagePullPolicy: Always

replicas: 1
minimumMasterNodes: 1

# For now we don't have enough nodes to have this set to hard
antiAffinity: soft

esJavaOpts: "-Xms2g -Xmx2g"

resources:
  requests:
    cpu: "500m"
    memory: "4Gi"
  limits:
    cpu: "1250m"
    memory: "4Gi"

volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: "premium-rwo"
  resources:
    requests:
      storage: 10Gi