image: "wikibase/elasticsearch"
imageTag: "6.8.23-wmde.6"
imagePullPolicy: Always

replicas: 3
minimumMasterNodes: 2

# For now we don't have enough nodes to have this set to hard
antiAffinity: soft

esJavaOpts: "-Xms2g -Xmx2g"

resources:
  requests:
    cpu: "500m"
    memory: "4Gi"
  limits:
    cpu: "1950m"
    memory: "4Gi"

volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: "premium-rwo"
  resources:
    requests:
      storage: 10Gi