gceProject: wikibase-cloud
gceServiceAccountSecret: secret-wikibase-dev-api
gcsApiStaticBucket: wikibase-dev-static

certificates:
  -
    name: wikibase-cloud-tls
    commonName: wikibase.cloud
    dnsNames:
      - '*.wikibase.cloud'
      - 'wikibase.cloud'
    secretName: wikibase-cloud-tls
    issuerRef: letsencrypt-staging #letsencrypt-prod
  -
    name: wikibase-dev-tls
    commonName: wikibase.dev
    dnsNames:
      - '*.wikibase.dev'
      - 'wikibase.dev'
    secretName: wikibase-dev-tls
    issuerRef: letsencrypt-prod

uiHostName: www.wikibase.dev
tlsSecret: wikibase-dev-tls # TODO is this not used any more now?
ingressNameSuffix: wikibase-dev

services:
  app:
    url: https://api.wikibase.dev
    mailer: mailgun
    ingressHosts:
      - host: api.wikibase.dev
        paths:
          - /()(.*)
      - host: www.wikibase.dev
        paths:
          - /api(/|$)(.*)
  sql:
    storageClass: premium-rwo
    storageSize: 60Gi
    api:
      db: apidb
      user: apiuser
  redis:
    password: nevergoingtoturnaround
    readHost: redis-headless.default.svc.cluster.local
    writeHost: redis-master.default.svc.cluster.local
    port: 6379
    # TODO move these databases out of private
    databases:
      apiDb: 2
      apiCacheDb: 3
      toolQuickstatements: 10
      toolWidar: 11
external:
  letsencrypt:
    email: thomas.arrow_ext@wikimedia.de
  recaptcha2:
    secretName: recaptcha-v2-staging-secrets
  recaptcha3:
    secretName: recaptcha-v3-staging-secrets
