master:
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 500Mi

replica:
  resources:
    limits:
      memory: 250Mi
    requests:
      cpu: 100m
      memory: 250Mi
