image:
  registry: ghcr.io
  repository: wbstack/redis
  tag: 7.2.5-debian-12-r4

master:
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 500Mi

replica:
  resources:
    limits:
      memory: 250Mi
    requests:
      cpu: 500m
      memory: 250Mi
