image:
  registry: ghcr.io
  repository: wbstack/redis
  tag: 7.0.5-debian-11-r15

master:
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 100m
      memory: 500Mi

replica:
  resources:
    limits:
      memory: 250Mi
    requests:
      cpu: 100m
      memory: 250Mi
