restorePodRunning: false
cronSchedule: "0 0 * * *"
backupKey: "abc-123"

gcs:
  bucketName: wikibase-dev-sql-backup
  serviceAccountSecretName: api-serviceaccount
  uploadToBucket: true

db:
  passwordSecretName: sql-secrets-init-passwords
  passwordSecretKey: SQL_INIT_PASSWORD_BACKUPS
  hostname: sql-mariadb-secondary.default.svc.cluster.local
  username: backup-manager
  port: 3306
