redisPort: 6379
architecture: "replication"
sentinel:
  enabled: false
auth:
  enabled: true
  existingSecret: redis-password
  existingSecretPasswordKey: password

master:
  persistence:
    enabled: true
    path: /data
    subPath: ""
    accessModes:
      - ReadWriteOnce
    size: 1Gi

replica:
  replicaCount: 1
  persistence:
    enabled: true
    path: /data
    subPath: ""
    accessModes:
      - ReadWriteOnce
    size: 1Gi
