app:
  cacheDriver: redis
  db:
    connection: mysql
    name: apidb
    passwordSecretKey: SQL_INIT_PASSWORD_API
    passwordSecretName: sql-secrets-init-passwords
    port: 3306
    readHost: sql-mariadb-secondary.default.svc.cluster.local
    user: apiuser
    writeHost: sql-mariadb-primary.default.svc.cluster.local
  elasticSearchHost: elasticsearch-1.default.svc.cluster.local:9200
  elasticSearchSharedIndexHost: elasticsearch-2.default.svc.cluster.local:9200
  elasticSearchSharedIndexPrefix: wiki_1
  env: local
  gce:
    existingSecret: api-passport-keys
    projectId: something
    serviceAccountSecret: null
  jwtSecretSecretKey: api-app-jwt-secret
  jwtSecretSecretName: api-app-secrets
  keySecretKey: api-app-key
  keySecretName: api-app-secrets
  logLevel: debug
  mail:
    fromaddress: noreply-local@fake.wikibase.dev
    fromname: Wikibase-dev
    mailer: smtp
    smtpPasswordSecretKey: password
    smtpPasswordSecretName: null
    smtpUserSecretKey: username
    smtpUserSecretName: null
    smtpencryption: null
    smtphost: mailhog
    smtpport: 1025
  name: WBaaS Localhost
  queryServiceHost: queryservice.default.svc.cluster.local:9999
  queueConnection: redis
  recaptcha:
    badgehide: true
    minScore: 0.5
    secretSecretKey: secret_key
    secretSecretName: recaptcha-v3-secrets
  redis:
    cachedb: 3
    db: 2
    host: redis-master.default.svc.cluster.local
    password: null
    passwordSecretKey: password
    passwordSecretName: redis-password
    port: 6379
    prefix: wikibase_dev_api
  stackdriver:
    enabled: false
    errorReportingEnabled: true
    loggingEnabled: false
    tracingEnabled: false
  url: https://www.wbaas.dev
image:
  tag: sha-7863110
ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
  enabled: true
  hosts:
    - host: api.wbaas.dev
      paths:
        - /()(.*)
    - host: www.wbaas.dev
      paths:
        - /api(/|$)(.*)
  tls: null
platform:
  backendMwHost: mediawiki-143-app-backend.default.svc.cluster.local
queue:
  backoff:
    - 10
    - 60
    - 300
    - 900
    - 1500
  horizon:
    enabled: true
    queueNames:
      - default
      - manual-intervention
  mw:
    db:
      passwordSecretKey: SQL_INIT_PASSWORD_MW
      passwordSecretName: sql-secrets-init-passwords
      readHost: sql-mariadb-secondary.default.svc.cluster.local
      username: mediawiki-db-manager
      writeHost: sql-mariadb-primary.default.svc.cluster.local
  queueNames:
    - default
replicaCount:
  backend: 1
  queue: 2
  scheduler: 1
  web: 1
resources:
  backend:
    limits:
      cpu: 1000m
      memory: 600Mi
    requests:
      cpu: 200m
      memory: 300Mi
  queue:
    limits:
      cpu: 250m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 256Mi
  scheduler:
    limits:
      cpu: 40m
      memory: 80Mi
    requests:
      cpu: 5m
      memory: 20Mi
  web:
    limits:
      cpu: 250m
      memory: 400Mi
    requests:
      cpu: 100m
      memory: 340Mi
serviceMonitor:
  additionalLabels:
    release: kube-prometheus-stack
  enabled: true
storage:
  accessKeySecretKey: rootUser
  accessKeySecretName: minio-credentials
  endpoint: http://minio.default.svc.cluster.local:9000
  secretKeySecretKey: rootPassword
  secretKeySecretName: minio-credentials
  url: http://minio.wbaas.dev/api-assets
trustedProxy:
  proxies:
    - '*'
useProbes: true
wbstack:
  complaint:
    mail:
      recipient: someone@wikimedia.de
      sender: dsa@wbaas.dev
  contact:
    mail:
      recipient: someone@wikimedia.de
      sender: contact-<subject>@wbaas.dev
  elasticSearch:
    enabledByDefault: true
  maxWikisPerUser: null
  monitoringEmail: wb-cloud-monitoring@wikimedia.de
  qsBatchMarkFailedAfter: 3
  qsBatchPendingTimeout: PT300S
  signupThrottlingLimit: 20
  signupThrottlingRange: PT24H
  subdomainSuffix: .wbaas.dev
  summaryCreationRateRanges:
    - PT24H
    - P30D
  uiurl: https://wbaas.dev
  wikiDbProvisionVersion: mw1.43-wbs1
  wikiDbUseVersion: mw1.43-wbs1
