image:
  tag: sha-ae61013
ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
  enabled: true
  hosts:
    - host: www.wbaas.dev
      paths:
        - /*
  tls:
    - hosts:
        - www.wbaas.dev
      secretName: wikibase-local-tls
podLabels:
  sidecar.istio.io/inject: "true"
resources:
  limits:
    cpu: 10m
    memory: 20Mi
  requests:
    cpu: 1m
    memory: 6Mi
ui:
  apiUrl: https://api.wbaas.dev
  cnameConfigMapKey: cname_record
  configMapName: wbaas-ui-config
  recaptchaSitekeySecretKey: site_key
  recaptchaSitekeySecretName: recaptcha-v3-secrets
  subdomainSuffix: .wbaas.dev
