image:
  tag: sha-4af42d7
ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
    nginx.ingress.kubernetes.io/use-regex: "true"
  enabled: true
  hosts:
    - host: www.wbaas.localhost
      paths:
        - /*
  tls: null
podLabels:
  sidecar.istio.io/inject: "true"
resources:
  limits:
    cpu: 10m
    memory: 20Mi
  requests:
    cpu: 1m
    memory: 6Mi
ui:
  apiUrl: http://api.wbaas.localhost
  cnameConfigMapKey: cname_record
  configMapName: wbaas-ui-config
  recaptchaSitekeySecretKey: site_key
  recaptchaSitekeySecretName: recaptcha-v3-secrets
  subdomainSuffix: .wbaas.localhost
