restorePodRunning: false
cronSchedule: "0 0 * * *"

backupKey:
backupSecretKey: key

gcs:
  bucketName: nacho-cheese
  serviceAccountSecretName: some-gcs-sa
  uploadToBucket: true

db:
  load:
    passwordSecretName: sql-secrets-passwords
    passwordSecretKey: mariadb-root-password
    hostname: sql-mariadb-primary.default.svc.cluster.local
    username: root
    port: 3306
  dump:
    passwordSecretName: sql-secrets-init-passwords
    passwordSecretKey: SQL_INIT_PASSWORD_BACKUPS
    hostname: sql-mariadb-secondary.default.svc.cluster.local
    username: backup-manager
    port: 3306
