certificates:
  - name: wikibase-local-tls
    commonName: wbaas.dev
    dnsNames:
      - '*.wbaas.dev'
      - 'wbaas.dev'
    secretName: wikibase-local-tls
    issuerRef: wikibase-local-issuer
  - name: argocd-server-tls
    namespace: argocd
    commonName: argo.wbaas.dev
    dnsNames:
      - 'argo.wbaas.dev'
    secretName: argocd-server-tls
    issuerRef: wikibase-local-issuer
