certificates:
  - name: wikibase-local-tls
    commonName: wbaas.localhost
    dnsNames:
      - '*.wbaas.localhost'
      - 'wbaas.localhost'
    secretName: wikibase-local-tls
    issuerRef: wikibase-local-issuer
  - name: argocd-server-tls
    namespace: argocd
    commonName: argo.wbaas.localhost
    dnsNames:
      - 'argo.wbaas.localhost'
    secretName: argocd-server-tls
    issuerRef: wikibase-local-issuer
