imageTag: "6.8.23-wmde.6"

esJavaOpts: "-Xms1g -Xmx1g"

# hard affinity won't work locally as there is just a single
# node running minikube
antiAffinity: soft

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "1.5Gi"

volumeClaimTemplate:
  storageClassName: "standard"
  resources:
    requests:
      storage: 2Gi
