image: "wikibase/elasticsearch"
imageTag: "6.8.23-wmde.6"
imagePullPolicy: Always

replicas: 1
minimumMasterNodes: 1

# For now we don't have enough nodes to have this set to hard
antiAffinity: soft

esJavaOpts: "-Xms1g -Xmx1g"

resources:
  requests:
    cpu: "500m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "1.5Gi"

volumeClaimTemplate:
  accessModes: [ "ReadWriteOnce" ]
  storageClassName: "standard"
  resources:
    requests:
      storage: 2Gi