controller:
  resources:
    limits:
      cpu: 100m
  image:
    registry: ghcr.io
    image: porter-dev/ingress-nginx-controller
    tag: v1.15.5
    digest: null

  admissionWebhooks:
    enabled: false
