grafana:
  ingress:
    enabled: true
    hosts:
      - grafana.wbaas.localhost
    paths:
      - path: /
        pathType: Prefix
    annotations:
      kubernetes.io/ingress.class: nginx

prometheus:
  ingress:
    enabled: true
    hosts:
      - prometheus.wbaas.localhost
    paths:
      - /
    annotations:
      kubernetes.io/ingress.class: nginx
