
# TODO google cloud related things probably don't matter to local deploys
gceProject: 'something'
gcsApiStaticBucket: 'something'

# TODO move this (and many other things) out of private file...
uiHostName: www.wbaas.localhost
tlsSecret: wikibase-dev-tls

services:
  queryservice:
    storageSize: 1Gi
    storageClass: standard

  app:
    url: http://www.wbaas.localhost
    ingressHosts:
      - host: api.wbaas.localhost
        paths:
          - /()(.*)
      - host: www.wbaas.localhost
        paths:
          - /api(/|$)(.*)

  redis:
    readHost: redis-headless.default.svc.cluster.local
    writeHost: redis-master.default.svc.cluster.local
    port: 6379
    # TODO move these databases out of private
    databases:
      apiDb: 2
      apiCacheDb: 3
      toolQuickstatements: 10
      toolWidar: 11

  sql:
    storageClass: standard
    storageSize: 1Gi
    api:
      db: apidb
      user: apiuser

external:
  letsencrypt:
    email: adam.shorland@wikimedia.de
