replicaCount: 1
image:
  repository: ghcr.io/toban/queryservice-updater
  tag: 0.3.84_3.7-shortcut-v1
  pullPolicy: Always
app:
  sleepTime: 5
  loopLimit: 100
  getBatchesEndpoint: http://api-app-backend.default.svc.cluster.local/backend/qs/getBatches
  wikibaseScheme: http
resources:
  requests:
    cpu: 80m
    memory: 100Mi
  limits:
    cpu: 100m
    memory: 128Mi
