image:
  tag: "0.3.135-wbstack.7"
useProbes: false

app:
  heapSize: 1g

resources:
  requests:
    cpu: 0.1
    memory: "1000Mi"
  limits:
    cpu: 0.5
    memory: "2072Mi"

persistence:
  storageClass: "standard"
  size: "1Gi"
