ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
    - superset.wbaas.localhost

postgresql:
  postgresqlPassword: xyzsecret

global:
  postgresql:
    auth:
      postgresPassword: xyzsecret

configOverrides:
  secret: |
    SECRET_KEY = os.getenv("SUPERSET_SECRET_KEY", "abababe4")
