image:
  tag: sha-414a71b

ui:
  recaptchaSitekeySecretName: {{ .Values.external.recaptcha3.secretName }}
  recaptchaSitekeySecretKey: site_key

ingress:
  tls:
  - hosts:
    - {{ .Values.uiHostName }}
    secretName: {{ .Values.tlsSecret }}

resources:
  limits:
    cpu: 10m
