image:
  tag: sha-90c0a8d

ui:
  recaptchaSitekeySecretName: {{ .Values.external.recaptcha3.secretName }}
  recaptchaSitekeySecretKey: site_key

ingress:
  tls: null

resources:
  limits:
    cpu: 10m
