image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.1.9
  pullPolicy: Always

# every five minutes
# cronSchedule: "*/5 * * * *"
restorePodRunning: false

job:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  cronSchedule: "0 0 * * *"

storage:
  scratchDiskSpace: 4Gi
  gcs:
    uploadToBucket: false