
# every five minutes
# cronSchedule: "*/5 * * * *"

cronSchedule: "*/5 * * * *"

gcs:
  uploadToBucket: false

db:
  passwordSecretName: sql-secrets-init-passwords
  passwordSecretKey: SQL_INIT_PASSWORD_BACKUPS
  hostname: sql-mariadb-secondary.default.svc.cluster.local
  username: backup-manager
  port: 3306
