image:
  tag: v0.3.1

job:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  cronSchedule: "* * 1 1 *"

scratchDiskSpace: 4Gi

restorePodRunning: false

storage:
  bucketName: backups
  uploadToBucket: true
  accessKeySecretName: minio-credentials
  accessKeySecretKey: rootUser
  secretKeySecretName: minio-credentials
  secretKeySecretKey: rootPassword
  endpoint: http://minio.default.svc.cluster.local:9000
