image:
  repository: ghcr.io/wmde/wbaas-backup
  tag: v0.1.9
  pullPolicy: Always

# every five minutes
# "*/5 * * * *"
# every January first
# * * 1 1 *
restorePodRunning: false

job:
  failedJobsHistoryLimit: 1
  successfulJobsHistoryLimit: 1
  cronSchedule: "* * 1 1 *"

storage:
  scratchDiskSpace: 4Gi
  gcs:
    uploadToBucket: false