environments:
  default:
    kubeContext: INVALID-ENVIRONMENT
  production:
    kubeContext: gke_wikibase-cloud_europe-west3-a_wbaas-3
  staging:
    kubeContext: gke_wikibase-cloud_europe-west3-a_wbaas-2
  local:
    kubeContext: minikube-wbaas

---

repositories:
  - name: argo-cd
    url: https://argoproj.github.io/argo-helm

templates:
  default: &default_release
    missingFileHandler: Error
    values:
      - env/production/{{`{{ .Release.Name }}`}}.values.yaml.gotmpl
      - env/{{`{{ .Environment.Name }}`}}/{{`{{ .Release.Name }}`}}.values.yaml.gotmpl

releases:
  - name: argo-cd-base
    namespace: argocd
    chart: argo-cd/argo-cd
    version: '9.1.9'
    <<: *default_release
