repositories:
- name: stable
  url: https://charts.helm.sh/stable
- name: jetstack
  url: https://charts.jetstack.io
- name: wbstack-deploy-charts
  url: git+https://github.com/wbstack/deploy/@charts?ref=main
- name: wbstack
  url: https://wbstack.github.io/charts
- name: bitnami
  url: https://charts.bitnami.com/bitnami
- name: cetic
  url: https://cetic.github.io/helm-charts
# Not used for live deployments
- name: mogaal-adminer
  url: git+https://github.com/mogaal/helm-charts/@adminer/?ref=main
- name: mittwald
  url: https://helm.mittwald.de

environments:
  production:
    kubeContext: gke_wikibase-cloud_europe-west3-a_wbaas-1
    values:
    - ./env/production/base.yaml
    - ./env/production/private.yaml
  local:
    kubeContext: minikube-wbaas
    values:
    - ./env/local/base.yaml
    - ./env/local/private.yaml

helmDefaults:
  timeout: 600

# Path to helmfiles to process BEFORE releases
# All the nested state files under `helmfiles:` is processed in the order of definition.
helmfiles:
  - path: cert-manager.yaml
    values:
      - foo: null

releases:
################################
# PRODUCTION ONLY
################################
# Only deploy the clusterissuers to production for now, as they won't work locally anyway right now...
- name: clusterissuers
  installed: {{ eq .Environment.Name "production" | toYaml }}
  namespace: cert-manager
  # TODO use something more generic or from wbstack/charts repo
  chart: ./../../charts/wikibase-cloud-clusterissuers
  values:
  # TODO current production uses the email foo@bar.com, once that is fixed, remove this hack...
  - email: {{ .Values.external.letsencrypt.email }}
  - gceProject: {{ .Values.gceProject }}
  # TODO this chart needs certificates for some reason, i probably shouldn't
  - certificates:
    - dnsNames:
        - '*.wikibase.cloud'
        - 'wikibase.cloud'
    - dnsNames:
        - '*.wikibase.dev'
        - 'wikibase.dev'

################################
# ALL ENVIRONMENTS
################################
- name: nginx-ingress
  namespace: kube-system
  chart: stable/nginx-ingress
  version: 1.34.3
  values:
  - "env/{{ .Environment.Name }}/nginx-ingress.values.yaml.gotmpl"

- name: sql
  namespace: default
  # TODO reevaluate upstreaming addshore/bitnami-charts(7.3.16-mariadb-ready-check-seconds) modifications
  chart: bitnami/mariadb
  version: 9.6.2
  values:
  - "env/{{ .Environment.Name }}/sql.values.yaml.gotmpl"

- name: redis
  # This is in the default namespace, as the default ns implies staging?
  namespace: default
  chart: bitnami/redis
  {{ if eq .Environment.Name "local" }}
  # New version currently being test out and setup on local
  version: 15.4.1
  {{ else }}
  version: 10.5.14
  {{ end }}
  values:
  - "env/{{ .Environment.Name }}/redis.values.yaml.gotmpl"

- name: api
  chart: wbstack/api
  version: 0.3.0
  namespace: default
  values:
  - "env/{{ .Environment.Name }}/api.values.yaml.gotmpl"

- name: ui
  namespace: default
  chart: wbstack-deploy-charts/ui
  values:
  - "env/{{ .Environment.Name }}/ui.values.yaml.gotmpl"

- name: queryservice-ui
  namespace: default
  chart: wbstack-deploy-charts/queryservice-ui
  values:
  - "env/{{ .Environment.Name }}/queryservice-ui.values.yaml.gotmpl"
- name: queryservice
  namespace: default
  chart: wbstack-deploy-charts/queryservice
  values:
  - "env/{{ .Environment.Name }}/queryservice.values.yaml.gotmpl"
- name: queryservice-gateway
  namespace: default
  chart: wbstack-deploy-charts/queryservice-gateway
  values:
  - "env/{{ .Environment.Name }}/queryservice-gateway.values.yaml.gotmpl"
- name: queryservice-updater
  namespace: default
  chart: wbstack-deploy-charts/queryservice-updater
  values:
  - "env/{{ .Environment.Name }}/queryservice-updater.values.yaml.gotmpl"

################################
# LOCAL ONLY
################################
- name: adminer-cetic
  installed: {{ eq .Environment.Name "local" | toYaml }}
  namespace: default
  chart: cetic/adminer
  version: v0.1.7
  values:
  - "env/{{ .Environment.Name }}/adminer-cetic.values.yaml.gotmpl"

################################
# Removed deployments
# These should be left here for a short while to allow locel setups to have them removed
################################
# Removed 11/10/2021
- name: adminer
  installed: false
  namespace: default
  chart: mogaal-adminer/adminer
  # values:
  # - "env/{{ .Environment.Name }}/adminer.values.yaml.gotmpl"
# Removed 10/10/2021
- name: kubernetes-secret-generator
  installed: false
  namespace: default
  chart: mittwald/kubernetes-secret-generator
