on:
  pull_request:
    types: [ opened, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create the Mattermost Message
        env:
          TITLE: ${{ github.event.pull_request.title }}
          HTML_LINK: ${{ github.event.pull_request.html_url }}
        run: >
          jq -n --arg t "Pull request opened: [${TITLE}](${HTML_LINK})" '{text: $t}'
          > mattermost.json
      - uses: mattermost/action-mattermost-notify@2.0.0
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
