on:
  pull_request:
    types: [ opened, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create the Mattermost Message
        env:
          TITLE: ${{ github.event.pull_request.title }}
          HTML_LINK: ${{ github.event.pull_request.html_url }}
        run: >
          echo "{\"text\":\"Pull request opened: [$(printf "%q" $TITLE)](${HTML_LINK})\"}"
          > mattermost.json
      - uses: mattermost/action-mattermost-notify@master
        env:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
